.react-field-container {
    display: flex;
    flex-direction: column;
}

.react-field-label {
    user-select: none;
    font-size: 75%;
    font-weight: bold;
    padding-top: 0.5em;
}

.react-field-label.rtl {
    padding-right: 0.5em;
}

.react-field-label.ltr {
    padding-left: 0.5em;
}

.react-field-children {
    display: flex;
}