.app-logger-logger {
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    position: absolute;
    resize: none;
    overflow: auto;
    font-family: "Courier New", Courier, monospace;
    user-select: text;
    color: var(--color);
    background-color: var(--background);
    font-size: inherit !important;
}

.app-logger-logger article {
    border: 1px solid var(--border-color);
}

.app-logger-level {
    overflow-x: scroll;
    margin-top: 1em;
    padding-bottom: 2em;
}