.app-message-items {
    margin: 0.5em;
}

.app-message-item {
    transition: opacity 0.75s, transform 0.75s, max-height 1s, margin 1s;
    overflow: hidden;
    max-height: 20em;
    border: none;
}

.app-message-item.close {
    max-height: 0em;
    margin: 0em;
    padding: 0em;
    transform: translateX(-100%);
    opacity: 0;
}