.react-dropdown {
    display: flex;
    flex-direction: column;
}

.react-dropdown-current {
    display: flex;
    align-items: stretch;
    justify-content: stretch;
}

.react-dropdown-current:active:hover {
    background-color: var(--highlight-background);
    color: var(--highlight-color);
}

.react-dropdown-modal {
    display: none;
    position: absolute;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    z-index: 999;
}

.react-dropdown-modal.show {
    display: flex;
}

.react-dropdown-popup {
    display: none;
    outline: 1px solid var(--chrome-border);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    position: absolute;
    flex-direction: column;
    align-items: stretch;
    justify-content: stretch;
    z-index: 1000;
}

.react-dropdown-popup.show {
    display: flex;
}

.react-dropdown-items {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: stretch;
    background-color: var(--chrome-background);
    color: var(--chrome-color);
}

.react-dropdown-item {
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 0.5em;
    padding-right: 0.5em;
    font-weight: bold;
    display: flex;
    align-items: center;
}

.react-dropdown-item.current {
    border-bottom: 2px solid var(--phase-two-border);
}

.react-dropdown-item.current.multiple {
    border-bottom: 2px solid var(--phase-four-border);
}

.react-dropdown-item.popup:active:hover {
    opacity: 0.8;
}

.react-dropdown-item.popup.selected {
    background-color: var(--chrome-highlight-background);
    color: var(--chrome-highlight-color);
}

.react-dropdown-item.popup.multiple.selected {
    background-color: var(--chrome-highlight-background);
    color: var(--chrome-highlight-color);
}