
.app-transform-container {
    position:relative;
    flex:1;
    display:flex;
    height:90%;
    top:10px;
    left:0px;
    width:100%;
}

.app-transform-input {
    margin-left:10px;
    background:white;
    flex:1;
}

.app-transform-output {
    margin-left:10px;
    margin-right:10px;
    background:white;
    line-height:200%;
    flex:1;
}
