.app-canvas-canvas {
    background-color:#269;
    background-image: linear-gradient(white 1px, transparent 1px),
        linear-gradient(90deg, white 1px, transparent 1px),
        linear-gradient(rgba(255,255,255,.3) 1px, transparent 1px),
        linear-gradient(90deg, rgba(255,255,255,.3) 1px, transparent 1px);
    background-size:50px 50px, 50px 10px, 10px 10px, 10px 10px;
    background-position:-1px -1px, -1px -1px, -1px -1px, -1px -1px;
    left:0px;
    top:0px;
    bottom:0px;
    right:0px;
    position:absolute;
}
