.app-execute-editor {
    font-family:"Courier New", Courier, monospace;
    position:relative;
    left:0px;
    right:0px;
    padding: 5px;
    display: block;
    white-space: pre-wrap;
    background:lightcyan;
    overflow:visible;
    height:auto;
}
