.app-transform-input {
    background:white;
    resize: none;
    overflow: auto;
    font-size:16px;
    height:180px;
    width:95%;
    margin:10px 10px 10px 10px;
    direction: ltr;
}

.app-transform-input.hebrew {
    direction: rtl;
}

.app-transform-convert {
    width:100px;
}

.app-transform-output {
    display:none;
}

.app-transform-layout {
    position:absolute;
    left:0px;
    right:0px;
    top:0px;
    bottom:0px;
    overflow:hidden;
    font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
    line-height:2.5;
    font-size:24px;
    direction: ltr;
    display:flex;
    flex:1;
    flex-direction:column;
    transform: rotate(0deg);
    user-select: text;
}

.app-transform-layout.hebrew {
    direction: rtl;
}

.app-transform-spinner {
    flex:0;
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    margin: -75px 0 0 -75px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: app-transform-spinner-animation 2s linear infinite;
    visibility:hidden;
}

@keyframes app-transform-spinner-animation {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.app-transform-page {
    position:relative;
    display:flex;
    flex-direction:column;
    box-sizing:border-box;
    border-top:1px solid gray;
    margin:0;
}

.app-transform-page-container {
    display:flex;
    box-sizing:border-box;
    margin:0;
}

.app-transform-page-margin-left {
    padding-left:1em;
    padding-right:1em;
}

.app-transform-page-margin-right {
    padding-left:1em;
    padding-right:1em;
}

.app-transform-page-content {
    padding-bottom:5em;
    position:relative;
    text-align:justify;
    box-sizing:border-box;
    column-gap: 4em;
    column-fill:balance;
    column-rule-color:transparent;
    padding-left:2em;
    padding-right:2em;
}

.app-transform-page-content h4 {
    margin:0;
    padding:0;
}

.app-transform-page-content br {
    display:none;
}

.app-transform-page-content p {
    margin-bottom:0.5em;
    padding:0;
}

.app-transform-page-header {
    height:50px;
}

.app-transform-page-number{
    position: absolute;
    width:20%;
    height:30px;
    left:40%;
    top: 20px;
    text-align: center;
    background:white;
}

.app-transform-page-number:after{
    position:absolute;
    font-size:50%;
    line-height:100%;
    color:gray;
    content:attr(shortPageNumberText);
    text-align:center;
    top:0px;
    left:0%;
    width:100%;
    height:30px;
}

.app-transform-page-number:hover:after {
    font-size:100%;
    font-weight: bold;
    content:attr(longPageNumberText);
    color:black;
}

.app-transfer-page-scrolltotop {
    position: absolute;
    width:20%;
    height:20px;
    left:40%;
    top: 0px;
    background:white;
}

.app-transfer-page-scrolltotop:after {
    border-style: solid;
    content: '';
    position: absolute;
    left:50%;
    top:0.5em;
    margin-left: -0.125em;
    transform: rotate(-45deg);
    text-align:center;
    border-width: 0.05em 0.05em 0 0;
    width: 0.2em;
    height: 0.2em;
    color:gray;
}

.app-transfer-page-scrolltotop:hover:after{
    color:black;
    top:0.25em;
    border-width: 0.25em 0.25em 0 0;
    margin-left: -0.35em;
    width: 0.45em;
    height: 0.45em;
}

.app-transform-filter {
    position: absolute;
    width:10%;
    margin-top:5px;
    border: 1px solid black;
    transition: width 0.4s ease-in-out;
    display:none;
}

.app-transform-filter.english {
    left:20px;
    display:block;
}

.app-transform-filter.hebrew {
    right:20px;
    direction: rtl;
    display:block;
}

.app-transform-filter:focus {
    width:40%;
}

.app-transform-separator {
    position:absolute;
    left:20%;
    right:20%;
    bottom:30px;
    height:5px;
    background:darkgray;
    box-shadow: 5px 5px 5px lightgray;
}

.app-transform-toggleTerms {
    position:absolute;
    bottom:10px;
    color:black;
    padding:10px;
    cursor:default;
    user-select:none;
    border:1px solid transparent;
}

.app-transform-toggleTerms.english {
    left:0px;
}

.app-transform-toggleTerms.hebrew {
    right:0px;
}

.app-transform-toggleTerms:hover{
    border:1px solid black;
}

.app-transform-toggleTerms:hover:active {
    background:black;
    color:white;
    border:1px solid white;
}

.app-transform-toggleGlossary {
    position:absolute;
    bottom:10px;
    color:black;
    padding:10px;
    cursor:default;
    user-select:none;
    border:1px solid transparent;
    display:none;
}

.app-transform-toggleGlossary.english {
    right:20px;
}

.app-transform-toggleGlossary.hebrew {
    left:20px;
}

.app-transform-toggleGlossary:hover{
    border:1px solid black;
}

.app-transform-toggleGlossary:hover:active {
    background:black;
    color:white;
    border:1px solid white;
}

.app-transform-termPopup {
    box-shadow:0 4px 10px 0 rgba(0,0,0,0.2),0 4px 20px 0 rgba(0,0,0,0.19);
}

.app-transform-termTable {
    text-align: center;
    border-collapse: separate;
    margin-left: auto;
    margin-right: auto;
    width:95%;
    height:95%;
    padding-top:1.5%;
    padding-bottom:1.5%;
}

.app-transform-termTable.hebrew {
    direction: rtl;
}


.app-transform-termTable th {
    background: black;
    color:white;
    padding:5px;
}

.app-transform-termTable td {
    padding-left:5px;
    outline-color: transparent;
    border:1px solid black;
}

.app-transform-termItem {
    position: relative;
    white-space:nowrap;
    display:inline-block;
    outline-color: transparent;
    margin:3px;
    color:black;
}

.app-transform-termItem.hebrew {
    float:right;
    clear:right;
    text-align: right;
}

.app-transform-termItem.english {
    float:left;
    clear:left;
    text-align: left;
}

.app-transform-termItem.app-transform-placeholder {
    outline-style:dashed;
}

.app-transform-termItem.app-transform-placeholder:hover:after {
    border-style:dashed;
}

[app-transform-tooltip]:after {
    visibility: hidden;
    pointer-events: none;
    transition: border 0.10s ease-in;
    bottom: -1px;
    left: -1px;
    position: absolute;
    line-height:1;
    padding: 0px 5px;
    content: attr(app-transform-tooltip);
    text-align:center;
    white-space: nowrap;
    min-width: 100%;
    min-height: 100%;
    padding-top:1px;
    vertical-align: middle;
    box-shadow: 5px 5px 5px grey;
}

[app-transform-tooltip]:hover:after {
    visibility: visible;
    pointer-events: auto;
    z-index: 100;
    border:2px solid black;
    font-weight:bold;
    color:black;
}
