.app-editor-editor {
    font-family:"Courier New", Courier, monospace;
    position:absolute;
    left:0px;
    right:0px;
    top:0px;
    bottom:0px;
    padding: 5px;
    display: block;
    white-space: pre-wrap;
}
