/* Prevent the text contents of draggable elements from being selectable. */
[draggable] {
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    /* Required to make elements draggable in old WebKit */
    -khtml-user-drag: element;
    -webkit-user-drag: element;
}

.widget-window-border {
    position: relative;
    height: 150px;
    width: 150px;
    float: left;
    border: 1px solid #000000;
    background-color: #c0c0c0;
    margin-right: 5px;
}

.widget-window-border.over {
    border: 1px dashed #000000;
}

.widget-window-content {
    position: absolute;
    left:4px;
    top:24px;
    right:4px;
    bottom:4px;
    background: white;
    border: 1px solid #000000;
}

.widget-window-left-top {
    position: absolute;
    left:-1px;
    top:-1px;
    width:24px;
    height:24px;
    border: 1px solid #000000;
}

.widget-window-right-top {
    position: absolute;
    top:-1px;
    right:-1px;
    width:24px;
    height:24px;
    border: 1px solid #000000;
}

.widget-window-left-bottom {
    position: absolute;
    left:-1px;
    bottom:-1px;
    width:24px;
    height:24px;
    border: 1px solid #000000;
}

.widget-window-right-bottom {
    position: absolute;
    bottom:-1px;
    right:-1px;
    width:24px;
    height:24px;
    border: 1px solid #000000;
}
