.widget-button-standard {
    border-radius: 1px;
    background-color: #c0c0c0;
    margin-top: 5px;
    margin-left: 5px;
    border-left: 2px solid #ffffff;
    border-top: 2px solid #ffffff;
    border-right: 2px solid #808080;
    border-bottom: 2px solid #808080;
    box-shadow: 0 0 0 1px #000000;
    font-family: "MS Sans Serif";
    font-size: 16px;
}

.widget-button-standard:hover:active {
    border-left: 2px solid #808080;
    border-top: 2px solid #808080;
    border-right: 2px solid #ffffff;
    border-bottom: 2px solid #ffffff;
}
