.widget-desktop-background {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    overflow: hidden;
    cursor:default;
    user-select: none;
    user-drag: none;
}

.widget-desktop-workspace {
    left:0px;
    top:0px;
    right:0px;
    bottom:32px;
    position:absolute;
    overflow:hidden;
}

.widget-desktop-workspace.fullscreen {
    bottom:0px;
}

body {
    overflow: hidden;
}
