.widget-window-border {
    border: 1px solid black;
    background-color: #c0c0c0;
    min-width:200px;
    min-height:200px;
}

.widget-window-border.maximize {
    border:none;
}

.widget-window-border.minimize {
    display:none;
}

.widget-window-border.popup.focus {
    background:#000080;
}

.widget-window-border.popup {
    background:white;
}

.widget-window-margin {
    position: absolute;
    left:2px;
    top:2px;
    right:2px;
    bottom:2px;
    display:flex;
    flex-direction:column;
    border:1px solid black;
    overflow:hidden;
}

.widget-window-margin.maximize {
    position: absolute;
    left:-1px;
    top:-1px;
    right:-1px;
    bottom:-1px;
}

.widget-window-margin.child.maximize {
    left:0px;
    top:0px;
    right:0px;
    bottom:0px;
    border:none;
}

.widget-window-margin.popup {
    border:1px solid white;
    left:4px;
    top:3px;
    right:4px;
    bottom:4px;
}

.widget-window-header {
    flex:none;
    height:18px;
    display:none;
    background-color:white;
    border-bottom: 1px solid black;
    position: relative;
}

.widget-window-header.menu {
    display:flex;
}

.widget-window-title.menu.child {
    display:none;
}

.widget-window-top-left {
    position: absolute;
    left:-1px;
    top:-1px;
    width:21px;
    height:21px;
    border: 1px solid black;
    cursor:nwse-resize;
}

.widget-window-top-left.child {
    width:18px;
    height:18px;
}

.widget-window-top-left.fixed {
    display:none;
}

.widget-window-top-right {
    position: absolute;
    top:-1px;
    right:-1px;
    width:21px;
    height:21px;
    border: 1px solid black;
    cursor:nesw-resize;
}

.widget-window-top-right.child {
    display:none;
}

.widget-window-top-right.fixed {
    display:none;
}

.widget-window-bottom-left {
    position: absolute;
    left:-1px;
    bottom:-1px;
    width:21px;
    height:21px;
    border: 1px solid black;
    cursor:nesw-resize;
}

.widget-window-bottom-left.child {
    display:none;
}

.widget-window-bottom-left.fixed {
    display:none;
}

.widget-window-bottom-right {
    position: absolute;
    bottom:-1px;
    right:-1px;
    width:21px;
    height:21px;
    border: 1px solid black;
    cursor:nwse-resize;
}

.widget-window-bottom-right.child {
    display:none;
}

.widget-window-bottom-right.fixed {
    display:none;
}

.widget-window-title {
    flex:none;
    display:flex;
    height:18px;
    border-bottom: 1px solid black;
}

.widget-window-label {
    height:18px;
    color: black;
    text-align: center;
    background-color: white;
    font-family: "MS Sans Serif";
    font-size: 16px;
    line-height:18px;
    flex:1;
    margin-left: auto;
    margin-right: auto;
}

.widget-window-label.focus {
    color: white;
    background-color: #000080;
}

.widget-window-label.child {
    display:none;
}

.widget-window-label.popup {
    color: black;
    background-color: white;
}

.widget-window-label.popup.focus {
    color: white;
    background-color: #000080;
}

.widget-window-close {
    flex:none;
    width:18px;
    height:18px;
    background-color: #c0c0c0;
    border-right: 1px solid black;
}

.widget-window-close.main:after {
    content: "";
    position: absolute;
    left:2px;
    top:7px;
    width:11px;
    height:1px;
    background-color: #ffffff;
    border: 1px solid black;
    box-shadow: 1px 1px 0px 0px #808080;
}

.widget-window-close:after {
    content: "";
    position: absolute;
    left:5px;
    top:7px;
    width:5px;
    height:1px;
    background-color: #ffffff;
    border: 1px solid black;
    box-shadow: 1px 1px 0px 0px #808080;
}

.widget-window-close:hover:active {
    background-color:#808080;
}

.widget-window-action {
    flex: none;
    width:18px;
    height:18px;
    border-left: 1px solid black;
    background-color: #c0c0c0;
    margin-left: auto;
}

.widget-window-action:after {
    content: "";
    position: absolute;
    top:0px;
    width:16px;
    height:16px;
    border-left: 1px solid #ffffff;
    border-top: 1px solid #ffffff;
    border-right: 1px solid #808080;
    border-bottom: 1px solid #808080;
    box-shadow: inset -1px -1px 0px 0px #808080;
}

.widget-window-action:hover:active:after {
    border-left: 1px solid #808080;
    border-top: 1px solid #808080;
    border-right: 1px solid #ffffff;
    border-bottom: 1px solid #ffffff;
    box-shadow: inset -1px -1px 0px 0px #ffffff;
}

.widget-window-minimize-arrow {
    position: relative;
    left:5px;
    top:7px;
    width:0px;
    height:0px;
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    border-top: 4px solid black;
}

.widget-window-maximize-arrow.restore {
    position: relative;
    left:5px;
    top:6px;
    width:0px;
    height:0px;
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    border-bottom: 4px solid black;
}

.widget-window-maximize-arrow.maximize {
    position: relative;
    left:5px;
    top:9px;
    width:0px;
    height:0px;
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    border-top: 4px solid black;
}

.widget-window-maximize-arrow.maximize::after {
    content: "";
    position: absolute;
    left:-3px;
    top:-10px;
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    border-bottom: 4px solid black;
}

.widget-window-maximize.fixed {
    display:none;
}

.widget-window-maximize.popup {
    display:none;
}

.widget-window-minimize.popup {
    display:none;
}
