/* Prevent the text contents of draggable elements from being selectable. */
[draggable] {
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    /* Required to make elements draggable in old WebKit */
    -khtml-user-drag: element;
    -webkit-user-drag: element;
}

.widget-icon-figure {
    border: 1px solid transparent;
    display:table;
    padding-top: 4px;
}

.widget-icon-figure.over {
    border: 1px dashed black;
}

.widget-icon-image {
    pointer-events:none;
    display: block;
    width: 32px;
    height: 32px;
    margin-left: auto;
    margin-right: auto;
}

.widget-icon-caption {
    display: table-caption;
    caption-side: bottom;
    text-align: center;
    margin-bottom:2px;
}
