.widget-desktop-background {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    overflow: hidden;
    user-select:none;
    cursor:default;
}

.widget-desktop-workspace {
    left:0px;
    top:0px;
    right:0px;
    bottom:32px;
    position:absolute;
    overflow:hidden;
}

body {
    overflow: hidden;
}
