.widget-desktop-background {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    user-select:none;
    cursor:default;
}

body {
    overflow: hidden;
}
