.widget-table-container {
    border-collapse: collapse;
}

.widget-table-data, .widget-table-header {
    border: 1px solid #ddd;
    padding: 8px;
}

.widget-table-row:nth-child(even){
    background-color: #f2f2f2;
}

.widget-table-row:hover {
    background-color: #ddd;
}

.widget-table-header {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background: black;
    color: white;
    outline:1px solid black;
}
