/* Prevent the text contents of draggable elements from being selectable. */
[draggable] {
    user-select: none;
}

.widget-icon-figure {
    padding-top: 4px;
    min-width:76px;
    margin-left:10px;
    margin-right:0px;
    float:left;
    text-align: center;
}

.widget-icon-figure+.widget-icon-figure
{
    margin-left:0px;
}

.widget-icon-image {
    pointer-events:none;
    object-fit: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.widget-icon-caption {
    margin-bottom:2px;
    font-family: "MS Sans Serif";
    font-size: 13px;
}
