.widget-menu-horizontal {
    position: absolute;
    left:-1px;
    right:-1px;
    top:-1px;
    height:19px;
    border-bottom: 1px solid black;
    z-index: 1;
    background-color: white;
}

.widget-menu-horizontal a {
    color: black;
    height:20px;
    padding-left: 4px;
    padding-right: 4px;
    padding-bottom: 1px;
    font-family: "MS Sans Serif";
    font-size: 14px;
    text-align: left;
    text-decoration: none;
    border-right: 1px solid transparent;
}

.widget-menu-horizontal a.select {
    background-color: #000080;
    color:white;
    border-right: 1px solid black;
}

.widget-menu-horizontal a[disabled="true"] {
    background-color: white;
    color:lightgray;
}

.widget-menu-border a[disabled="true"]:hover {
    background-color: white;
    color:lightgray;
}

.widget-menu-vertical {
    min-width: 167px;
    border: 1px solid black;
    background-color: white;
    box-shadow: 1px 1px 0px 0px #808080;
    z-index: 1;
}

.widget-menu-vertical a {
    background-color: white;
    color: black;
    height:18px;
    padding-left: 16px;
    padding-right: 16px;
    font-family: "MS Sans Serif";
    font-size: 14px;
    text-align: left;
    text-decoration: none;
    display: block;
}

.widget-menu-vertical a:hover {
    background-color: #000080;
    color:white;
}

.widget-menu-vertical a[disabled="true"] {
    background-color: white;
    color:lightgray;
}

.widget-menu-vertical a[disabled="true"]:hover {
    background-color: #000080;
    color:lightgray;
}

.widget-menu-vertical a.checked:after {
    content:'\2713';
    position:absolute;
    left:3px;
}
