.widget-list-border {
    background:white;
    border:1px solid black;
    display:flex;
}

.widget-list-dropdown-group {
    display:flex;
    position:relative;
    margin-left:18px;
}

.widget-list-dropdown-selection {
    font-family: "MS Sans Serif";
    font-size: 16px;
    text-align:left;
    border:1px solid black;
    margin-top:2px;
    margin-bottom:2px;
    position:relative;
    padding-left:2px;
    flex:1;
    height:21px;
    width:100%;
    user-select:none;
    cursor:default;
}

.widget-list-dropdown-button {
    flex: none;
    width:16px;
    height:21px;
    background-color: #c0c0c0;
    position: relative;
    border:1px solid black;
    margin-left:-1px;
    margin-top:2px;
    margin-bottom:2px;
}

.widget-list-dropdown-button:after {
    content: "";
    position: absolute;
    top:0px;
    width:14px;
    height:19px;
    border-left: 1px solid #ffffff;
    border-top: 1px solid #ffffff;
    border-right: 1px solid #808080;
    border-bottom: 1px solid #808080;
    box-shadow: inset -1px -1px 0px 0px #808080;
}

.widget-list-dropdown-button:hover:active:after {
    border-left: 1px solid #808080;
    border-top: 1px solid #808080;
    border-right: 1px solid #ffffff;
    border-bottom: 1px solid #ffffff;
    box-shadow: inset -1px -1px 0px 0px #ffffff;
}

.widget-list-dropdown-button-arrow {
    position: absolute;
    left:6px;
    top:6px;
    width: 3px;
    height: 3px;
    background:black;
    clip-path: inset(-3.5px);    
}

.widget-list-dropdown-button-arrow:after {
    content:"";
    position: absolute;
    left:-2px;
    top:3px;
    width: 0px;
    height: 0px;
    border-left: 3.5px solid transparent;
    border-right: 3.5px solid transparent;
    border-top: 3.5px solid black;
}

.widget-list-dropdown-button-line {
    position: absolute;
    left:4px;
    top:14px;
    width: 7px;
    height: 1px;
    background:black;
    clip-path: inset(-3.5px);    
}

.widget-list-popup-border {
    position:absolute;
    background:white;
    border:1px solid black;
    z-index:100;
    margin-top:-3px;
    box-sizing: border-box;
    display:flex;
}

.widget-list-item {
    background-color: white;
    color: black;
    height:18px;
    padding-left: 3px;
    padding-right: 3px;
    font-family: "MS Sans Serif";
    font-size: 14px;
    text-align: left;
    display: block;
    cursor:default;
    user-select:none;
}

.widget-list-item.selected {
    background-color: #000080;
    color:white;
}

.widget-list-item.separator {
    margin-top: 3px;
    border-top: 3px solid white;
    box-shadow: 0px -1px 0px 0px black;
}
