.widget-checkbox-label {
    position:relative;
    left:30px;
    top:-3px;
    font-family: "MS Sans Serif";
}

.widget-checkbox-original + .widget-checkbox-icon {
    display:inline-block;
    position: relative;
    width: 11px;
    height: 11px;
    border: 1px solid black;
}

.widget-checkbox-original:checked + .widget-checkbox-icon {
    display:inline-block;
    position: relative;
    width: 11px;
    height: 11px;
    border: 1px solid black;
    background: -webkit-linear-gradient(-45deg, transparent 0%, transparent 54%, black 54%,  black 56%,transparent 56%, transparent 100%), -webkit-linear-gradient(45deg, transparent 0%, transparent 49%, black 49%,  black 51%,transparent 51%, transparent 100%);
    background-color:white;
}
