/* Prevent the text contents of draggable elements from being selectable. */
[draggable] {
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    /* Required to make elements draggable in old WebKit */
    -khtml-user-drag: element;
    -webkit-user-drag: element;
}

.widget-window-border {
    position: relative;
    float: left;
    border: 1px solid black;
    background-color: #c0c0c0;
}

.widget-window-border.over {
    border: 1px dashed black;
}

.widget-window-margin {
    position: absolute;
    left:2px;
    top:2px;
    right:2px;
    bottom:2px;
}

.widget-window-margin.maximize {
    position: absolute;
    left:-1px;
    top:-1px;
    right:-1px;
    bottom:-1px;
}

.widget-window-content {
    position: absolute;
    left:0px;
    top:19px;
    right:0px;
    bottom:0px;
    background: white;
    border: 1px solid black;
    overflow: hidden;
}

.widget-window-left-top {
    position: absolute;
    left:-1px;
    top:-1px;
    width:21px;
    height:21px;
    border: 1px solid black;
}

.widget-window-right-top {
    position: absolute;
    top:-1px;
    right:-1px;
    width:21px;
    height:21px;
    border: 1px solid black;
}

.widget-window-left-bottom {
    position: absolute;
    left:-1px;
    bottom:-1px;
    width:21px;
    height:21px;
    border: 1px solid black;
}

.widget-window-right-bottom {
    position: absolute;
    bottom:-1px;
    right:-1px;
    width:21px;
    height:21px;
    border: 1px solid black;
}

.widget-window-title {
    position: absolute;
    left:0px;
    top:0px;
    right:0px;
    height:18px;
    border: 1px solid black;
}

.widget-window-label {
    position: absolute;
    top:0px;
    left:19px;
    right:38px;
    height:18px;
    color: black;
    text-align: center;
    background-color: white;
    border: 1px solid black;
    font-family: "MS Sans Serif";
    font-size: 16px;
    line-height:19px;
}

.widget-window-label.focus {
    color: white;
    background-color: #000080;
}

.widget-window-close {
    position: absolute;
    left:1px;
    top:1px;
    width:18px;
    height:18px;
    background-color: #c0c0c0;
}

.widget-window-close.main:after {
    content: "";
    position: absolute;
    left:2px;
    top:7px;
    width:11px;
    height:1px;
    background-color: #ffffff;
    border: 1px solid black;
    box-shadow: 1px 1px 0px 0px #808080;
}

.widget-window-close:after {
    content: "";
    position: absolute;
    left:5px;
    top:7px;
    width:5px;
    height:1px;
    background-color: #ffffff;
    border: 1px solid black;
    box-shadow: 1px 1px 0px 0px #808080;
}

.widget-window-close:hover:active {
    background-color:#808080;
}

.widget-window-action {
    position: absolute;
    top:1px;
    width: 16px;
    height: 16px;
    border-left: 1px solid #ffffff;
    border-top: 1px solid #ffffff;
    border-right: 1px solid #808080;
    border-bottom: 1px solid #808080;
    background-color: #c0c0c0;
    box-shadow: inset -1px -1px 0px 0px #808080;
}

.widget-window-action:after {
    content: "";
    top:-2px;
    left:-2px;
    position: absolute;
    border: 1px solid black;
    width: 18px;
    height: 18px;
}

.widget-window-action:hover:active {
    border-left: 1px solid #808080;
    border-top: 1px solid #808080;
    border-right: 1px solid #ffffff;
    border-bottom: 1px solid #ffffff;
    background-color: #c0c0c0;
    box-shadow: inset -1px -1px 0px 0px #ffffff;
}

.widget-window-minimize {
    position: absolute;
    left:4px;
    top:7px;
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    border-top: 4px solid black;
}

.widget-window-maximize {
    position: absolute;
    left:4px;
    top:6px;
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    border-bottom: 4px solid black;
}

.widget-window-restore {
    position: absolute;
    left:4px;
    top:9px;
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    border-top: 4px solid black;
}

.widget-window-restore::after {
    content: "";
    position: absolute;
    left:-3px;
    top:-10px;
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    border-bottom: 4px solid black;
}
