[kab-term-tooltip] {
    position: relative;
    white-space:nowrap;
}

[kab-term-tooltip]:after {
    opacity: 0;
    pointer-events: none;
    transition: all 0.18s ease-out 0.18s;
    bottom: -1px;
    left: 50%;
    position: absolute;
    line-height:100%;
    z-index: 10;
    padding: 0px 5px;
    transform: translate(-50%, 10px);
    transform-origin: top;
    color: black;
    content: attr(kab-term-tooltip);
    text-align:center;
    white-space: nowrap;
    min-width: 100%;
    min-height: 100%;
    padding-top:1px;
    vertical-align: middle;
    box-shadow: 10px 10px 5px grey;
}

[kab-term-tooltip]:hover:after {
    opacity: 1;
    pointer-events: auto;
    transform: translate(-50%, 0);
}

.kab-term-phase-none {
    background:white;
    border:1px solid transparent;
    border-bottom:1px dashed darkgray;
}

.kab-term-phase-none:hover:after {
    background:white;
    border:2px solid black;
}

.kab-term-phase-root {
    background:white;
    border:1px solid gray;
}

.kab-term-phase-root:hover:after {
    background:white;
    border:2px solid black;
}

.kab-term-phase-one {
    background:#FFF3CA;
    border:1px solid lightyellow;
}

.kab-term-phase-one:hover:after {
    background:#FFF3CA;
    border:2px solid black;
}

.kab-term-phase-two {
    background:#C8D9F9;
    border:1px solid lightblue;
}

.kab-term-phase-two:hover:after {
    background:#C8D9F9;
    border:2px solid black;
}

.kab-term-phase-three {
    background:#F5CCCB;
    border:1px solid coral;
}

.kab-term-phase-three:hover:after {
    background:#F5CCCB;
    border:2px solid black;
}

.kab-term-phase-four {
    background:#D9EAD2;
    border:1px solid lightgreen;
}

.kab-term-phase-four:hover:after {
    background:#D9EAD2;
    border:2px solid black;
}

.kab-term-phase-collective {
    background:Plum;
    border:1px solid MediumPurple;
}

.kab-term-phase-collective:hover:after {
    background:Plum;
    border:2px solid black;
}

.kab-term-heading {
    position:absolute;
    margin-left:0px;
    margin-top:-4px;
    font-weight:bold;
    font-size:9px;
    text-transform:uppercase;
    line-height:10px;
}

.kab-term-polaroid-left {
    float:left;
    background:white;
    margin:10px 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 250px;
    text-align: center;
    line-height:100%;
    padding-top:5px;
    padding-bottom:5px;
}

.kab-term-polaroid-left:hover {
    box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 black;
}

.kab-term-polaroid-right {
    float:right;
    background:white;
    margin:10px 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 250px;
    text-align: center;
    line-height:100%;
    padding-top:5px;
    padding-bottom:5px;
}

.kab-term-polaroid-right:hover {
    box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 black;
}
