.kab-terms-heading {
    position:absolute;
    bottom:3.2em;
    vertical-align:middle;
    height:1em;
    line-height: 1;
    font-weight:bold;
    font-size:40%;
    text-transform:uppercase;
    pointer-events: none;
    background:white;
}

.kab-terms-heading.kab-terms-english {
    left:0em;
}

.kab-terms-heading.kab-terms-hebrew {
    right:0em;
}

[kab-terms-tooltip] {
    position: relative;
    white-space:nowrap;
}

[kab-terms-tooltip].kab-terms-phase-none {
    border-bottom:1px dashed darkgray;
}

[kab-terms-tooltip]:after {
    visibility: hidden;
    pointer-events: none;
    transition: border 0.10s ease-in;
    bottom: -1px;
    left: -1px;
    position: absolute;
    line-height:1;
    padding: 0px 5px;
    content: attr(kab-terms-tooltip);
    text-align:center;
    white-space: nowrap;
    min-width: 100%;
    min-height: 100%;
    padding-top:1px;
    vertical-align: middle;
    box-shadow: 5px 5px 5px grey;
}

[kab-terms-tooltip]:hover:after {
    visibility: visible;
    pointer-events: auto;
    z-index: 100;
    font-weight:bold;
}

.kab-terms-phase-inline {
    position:relative;
    white-space: nowrap;
    border-style:hidden;
}

.kab-terms-phase-number {
    position:absolute;
    bottom:2em;
    vertical-align:middle;
    height:1em;
    line-height: 1;
    font-weight:bold;
    font-size:50%;
    text-transform:uppercase;
    border-radius: 50%;

    width: 1em;
    height: 1em;
    padding: 0em;

    color: black;
    text-align: center;
}

.kab-terms-phase-number.kab-terms-english {
    right:-0.5em;
}

.kab-terms-phase-number.kab-terms-hebrew {
    left:-0.5em;
}

.kab-terms-phase-none {
    background:white;
}

.kab-terms-phase-none:hover:after {
    background:white;
    border:2px solid gray;
}

.kab-terms-phase-root-outline {
    outline:1px solid gray;
}

.kab-terms-phase-root-border {
    border:1px solid gray;
}

.kab-terms-phase-root-underline {
    border-bottom:1px solid gray;
}

.kab-terms-phase-root {
    background:white;
}

.kab-terms-phase-root:hover:after {
    background:white;
    border:2px solid gray;
}

.kab-terms-phase-number-root {
    background:white;
    border:1px solid gray;
}

.kab-terms-phase-one {
    background:#FFF3CA;
}

.kab-terms-phase-one-outline {
    outline:1px solid orange;
}

.kab-terms-phase-one-border {
    border:1px solid orange;
}

.kab-terms-phase-one-underline {
    border-bottom:1px solid orange;
}

.kab-terms-phase-one:hover:after {
    background:#FFF3CA;
    border:2px solid orange;
}

.kab-terms-phase-number-one {
    background:#FFF3CA;
    border:1px solid orange;
}

.kab-terms-phase-two {
    background:#C8D9F9;
}

.kab-terms-phase-two-outline {
    outline:1px solid darkblue;
}

.kab-terms-phase-two-border {
    border:1px solid darkblue;
}

.kab-terms-phase-two-underline {
    border-bottom:1px solid darkblue;
}

.kab-terms-phase-two:hover:after {
    background:#C8D9F9;
    border:2px solid darkblue;
}

.kab-terms-phase-number-two {
    background:#C8D9F9;
    border:1px solid darkblue;
}

.kab-terms-phase-three {
    background:#F5CCCB;
}

.kab-terms-phase-three-outline {
    outline:1px solid coral;
}

.kab-terms-phase-three-border {
    border:1px solid coral;
}

.kab-terms-phase-three-underline {
    border-bottom:1px solid coral;
}

.kab-terms-phase-three:hover:after {
    background:#F5CCCB;
    border:2px solid coral;
}

.kab-terms-phase-number-three {
    background:#F5CCCB;
    border:1px solid coral;
}

.kab-terms-phase-four {
    background:#D9EAD2;
}

.kab-terms-phase-four-outline {
    outline:1px solid green;
}

.kab-terms-phase-four-border {
    border:1px solid green;
}

.kab-terms-phase-four-underline {
    border-bottom:1px solid green;
}

.kab-terms-phase-four:hover:after {
    background:#D9EAD2;
    border:2px solid green;
}

.kab-terms-phase-number-four {
    background:#D9EAD2;
    border:1px solid green;
}

.kab-terms-phase-collective {
    background:Plum;
}

.kab-terms-phase-collective-outline {
    outline:1px solid MediumPurple;
}

.kab-terms-phase-collective-border {
    border:1px solid MediumPurple;
}

.kab-terms-phase-collective:hover:after {
    background:Plum;
    border:2px solid MediumPurple;
}

.kab-terms-phase-number-collective:after {
    display:none;
}

.kab-terms-polaroid-left {
    float:left;
    background:white;
    margin:10px 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 250px;
    text-align: center;
    line-height:1;
    padding-top:5px;
    padding-bottom:5px;
}

.kab-terms-polaroid-left:hover {
    box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 black;
}

.kab-terms-polaroid-right {
    float:right;
    background:white;
    margin:10px 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 250px;
    text-align: center;
    line-height:1;
    padding-top:5px;
    padding-bottom:5px;
}

.kab-terms-polaroid-right:hover {
    box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 black;
}

.kab-terms-description-box {
    position: fixed;
    bottom: -2px;
    left:5%;
    right:5%;
    height:5em;
    z-index: 10;
    background-color: white;
    max-height: 0;
    border-radius: 5px 5px 0px 0px;
    transition-property: all;
    transition-duration: 1s;
    overflow-y: hidden;
}

.kab-terms-description-box.show {
    max-height:5em;
}

.kab-terms-description-type {
    position:absolute;
    top:0px;
    height:1.5em;
    right:0px;
    padding-left:1em;
    padding-right:1em;
    padding-top:0.5em;
    line-height:100%;
    font-size:50%;
    font-weight: bold;
    text-transform:uppercase;
}

.kab-terms-description-type.kab-terms-english {
    right:0px;
}

.kab-terms-description-type.kab-terms-hebrew {
    left:0px;
}

.kab-terms-short {
    position:absolute;
    left:0px;
    top:0px;
    height:1.5em;
    right:0px;
    padding-left:1em;
    padding-right:1em;
    padding-top:0.5em;
    line-height:100%;
    border-radius: 5px 5px 0px 0px;
    overflow:hidden;
    text-overflow: ellipsis;
}

.kab-terms-short.kab-terms-english {
    text-align: left;
}

.kab-terms-short.kab-terms-hebrew {
    text-align: right;
}

.kab-terms-long {
    padding-left:1.5em;
    padding-right:1.5em;
    padding-bottom:0.05em;
    position:absolute;
    top:3.25em;
    left:0px;
    right:0px;
    height:5em;
    font-size:75%;
    display: inline;
    margin: 0 auto;
    white-space:normal;
    line-height: 100%;
}
