.app-transcribe-container {
    display: grid;
    margin: 6px;
    grid-row-gap: 6px;
}

.app-transcribe-item {
    display: grid;
    grid-template-columns: 6em auto;
    grid-column-gap: 6px;
    margin: 6px;
    background-color: var(--background);
    color: var(--color);
}

.app-transcribe-item.view-mode.now {
    background-color: var(--highlight-background);
    color: var(--highlight-color);
}

.app-transcribe-item.view-mode:hover {
    background-color: var(--highlight-background);
    color: var(--highlight-color);
}

.app-transcribe-item.view-mode:hover:active {
    background-color: var(--highlight-color);
    color: var(--highlight-background);
}

.app-transcribe-timestamp {
    grid-column: 1;
    left: 0px;
    right: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px dashed var(--border-color);
    line-height: 1.5;
}

.app-transcribe-timestamp.edit-mode.now {
    background-color: var(--highlight-background);
    color: var(--highlight-color);
}

.app-transcribe-timestamp.edit-mode:hover {
    background-color: var(--highlight-background);
    color: var(--highlight-color);
}

.app-transcribe-timestamp.edit-mode:hover:active {
    background-color: var(--highlight-color);
    color: var(--highlight-background);
}

.app-transcribe-value {
    grid-column: 2;
    left: 0px;
    right: 0px;
    height: auto;
}

.app-transcribe-value.view-mode {
    border: 1px solid var(--border-color);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: inherit;
    padding: 5px;
}

.app-transcribe-value.input {
    font-size: inherit;
    border: none;
}