.app-transform-input {
    background:white;
    resize: none;
    overflow: auto;
    font-size:16px;
    height:180px;
    width:95%;
    margin:10px 10px 10px 10px;
    direction: ltr;
}

.app-transform-input.hebrew {
    direction: rtl;
}

.app-transform-convert {
    width:100px;
}

.app-transform-output {
    display:none;
}

.app-transform-layout {
    position:absolute;
    left:0px;
    right:0px;
    top:0px;
    bottom:0px;
    overflow:hidden;
    font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
    line-height:2em;
    font-size:24px;
    direction: ltr;
    display:flex;
    flex:1;
    flex-direction:column;
    transform: rotate(0deg);
    user-select: text;
}

.app-transform-layout.hebrew {
    direction: rtl;
}

.app-transform-page {
    position:relative;
    display:flex;
    flex-direction:column;
    box-sizing:border-box;
    border-top:1px solid gray;
    margin:0;
    background: repeating-linear-gradient(
      45deg,
      #fefefe,
      #fefefe 10px,
      #fcfcfc 10px,
      #fcfcfc 20px
    );    
}

.app-transform-page-container {
    display:flex;
    box-sizing:border-box;
    margin:0;
}

.app-transform-page-content {
    padding-left:3em;
    padding-right:3em;
    padding-bottom:5em;
    position:relative;
    text-align:justify;
    box-sizing:border-box;
    column-gap: 3em;
    column-fill:balance;
}

.app-transform-page-content br {
    display:none;
}

.app-transform-page-header {
    height:60px;
}

.app-transform-page-header.pipVideo {
   height:160px;
}

.app-transform-page-number{
    position: absolute;
    width:10%;
    height:30px;
    left:45%;
    top: 30px;
    text-align: center;
}

.app-transform-page-number:after{
    position:absolute;
    font-size:75%;
    color:gray;
    content:attr(shortPageNumberText);
    text-align:center;
    top:0px;
    left:0%;
    width:100%;
    height:20px;
}

.app-transform-page-number:hover:after {
    font-size:100%;
    font-weight: bold;
    color:black;
    content:attr(longPageNumberText);
}

.app-transform-page-scrolltotop {
    position: absolute;
    width:10%;
    height:20px;
    left:45%;
    top: 10px;
}

.app-transform-page-scrolltotop:after {
    border-style: solid;
    content: '';
    position: absolute;
    left:50%;
    top:0.5em;
    margin-left: -0.125em;
    transform: rotate(-45deg);
    text-align:center;
    border-width: 0.05em 0.05em 0 0;
    width: 0.2em;
    height: 0.2em;
    color:gray;
}

.app-transform-page-scrolltotop:hover:after{
    color:black;
    top:0.25em;
    border-width: 0.25em 0.25em 0 0;
    margin-left: -0.35em;
    width: 0.45em;
    height: 0.45em;
}

.app-transform-page-button {
    position: absolute;
    width:10%;
    height:40px;
    top: 10px;
}

.app-transform-page-button:after {
    position:absolute;
    font-size:50%;
    color:gray;
    text-align:center;
    top:10px;
    left:0%;
    width:100%;
    height:30px;
}

.app-transform-page-button:hover:after {
    font-size:100%;
    font-weight: bold;
    color:black;
}

.app-transform-page-reload {
    left:25%;
}

.app-transform-page-reload:after {
    content: '\21BB';
}

.app-transform-page-reload:hover:after {
    content: '\21BB\A Reload';
}

.app-transform-page-reload.hebrew:hover:after {
    content: '\21BB\A טען מחדש';
}

.app-transform-page-fullscreen {
    left:35%;
}

.app-transform-page-fullscreen:after {
    content: '\25FB';
}

.app-transform-page-fullscreen:hover:after {
    content: '\25FB\A Fullcreen';
}

.app-transform-page-fullscreen.hebrew:hover:after {
    content: '\25FB\A מסך מלא';
}

.app-transform-page-fullscreen.fullscreen:after {
    content: '\25F3';
}

.app-transform-page-fullscreen.fullscreen:hover:after {
    content: '\25F3\A Restore';
}

.app-transform-page-fullscreen.hebrew.fullscreen:hover:after {
    content: '\25F3\A החזר';
}

.app-transform-page-previous {
    left:55%;
}

.app-transform-page-previous:after {
    content: '\21E6';
}

.app-transform-page-previous:hover:after {
    content: '\21E6\Previous Page';
}

.app-transform-page-previous.hebrew:hover:after {
    content: '\21E6\A עמוד קודם';
}

.app-transform-page-next {
    left:65%;
}

.app-transform-page-next:after {
    content: '\21E8';
}

.app-transform-page-next:hover:after {
    content: '\21E8\Next Page';
}

.app-transform-page-next.hebrew:hover:after {
    content: '\21E8\A עמוד הבא';
}

.app-transform-filter {
    position: absolute;
    width:20%;
    margin-top:5px;
    border: 1px solid black;
    transition: width 0.4s ease-in-out;
    display:none;
}

.app-transform-filter.english {
    left:20px;
    display:block;
}

.app-transform-filter.hebrew {
    right:20px;
    direction: rtl;
    display:block;
}

.app-transform-filter:focus {
    width:40%;
}

.app-transform-separator {
    position:absolute;
    left:40%;
    right:40%;
    bottom:30px;
    height:5px;
    background: gray;
    box-shadow: 5px 5px 5px lightgray;
}

.app-transform-separator.last {
    background: black;
}

.app-transform-toggleGlossary {
    position:absolute;
    bottom:10px;
    color:black;
    padding:10px;
    cursor:default;
    user-select:none;
    border:1px solid transparent;
    display:none;
}

.app-transform-toggleGlossary.english {
    right:20px;
}

.app-transform-toggleGlossary.hebrew {
    left:20px;
}

.app-transform-toggleGlossary:hover{
    border:1px solid black;
}

.app-transform-toggleGlossary:hover:active {
    background:black;
    color:white;
    border:1px solid white;
}

.app-transform-termPopup {
    box-shadow:0 4px 10px 0 rgba(0,0,0,0.2),0 4px 20px 0 rgba(0,0,0,0.19);
}

.app-transform-termTable {
    text-align: center;
    border-collapse: separate;
    margin-left: auto;
    margin-right: auto;
    width:95%;
    height:95%;
    padding-top:1.5%;
    padding-bottom:1.5%;
}

.app-transform-termTable.hebrew {
    direction: rtl;
}


.app-transform-termTable th {
    background: black;
    color:white;
    padding:5px;
}

.app-transform-termTable td {
    padding-left:5px;
    outline-color: transparent;
    border:1px solid black;
}

.app-transform-termItem {
    position: relative;
    white-space:nowrap;
    display:inline-block;
    outline-color: transparent;
    margin:3px;
    color:black;
}

.app-transform-termItem.hebrew {
    float:right;
    clear:right;
    text-align: right;
}

.app-transform-termItem.english {
    float:left;
    clear:left;
    text-align: left;
}

.app-transform-termItem.app-transform-placeholder {
    outline-style:dashed;
}

.app-transform-termItem.app-transform-placeholder:hover:after {
    border-style:dashed;
}

[app-transform-tooltip]:after {
    visibility: hidden;
    pointer-events: none;
    transition: border 0.10s ease-in;
    bottom: -1px;
    left: -1px;
    position: absolute;
    padding: 0px 5px;
    content: attr(app-transform-tooltip);
    text-align:center;
    white-space: nowrap;
    min-width: 100%;
    min-height: 100%;
    padding-top:1px;
    vertical-align: middle;
    box-shadow: 5px 5px 5px grey;
}

[app-transform-tooltip]:hover:after {
    visibility: visible;
    pointer-events: auto;
    z-index: 100;
    border:2px solid black;
    font-weight:bold;
    color:black;
}

.app-transform-play:after {
    position:absolute;
    right:150px;
    width:50px;
    bottom:50px;
    height:50px;
    text-align: center;
    content: "\23EF";
    margin:auto;
    line-height: 150%;
}

.app-transform-play.play:after {
    content:"\23F8";
}

.app-transform-play.play.pause:after {
    content: "\23EF";
}

.app-transform-play:hover:after {
    content: "\23EF\A Play";
}

.app-transform-play.play:hover:after {
    content: "\23F8\A Pause";
}

.app-transform-play.play.pause:hover:after {
    content: "\23EF\A Resume";
}

.app-transform-play.fullscreen:after {
    opacity: 0;
}

.app-transform-play.fullscreen:hover:after {
    opacity: 1;
}

.app-transform-stop:after {
    position:absolute;
    right:50px;
    width:50px;
    bottom:50px;
    height:50px;
    text-align: center;
    content: "\23F9";
    display:none;
    margin:auto;
    line-height: 150%;
}

.app-transform-stop:hover:after {
    content: "\23F9\A Stop";
}

.app-transform-stop.play:after {
    display:block;
}

.app-transform-stop.fullscreen:after {
    opacity:0;
}

.app-transform-stop.fullscreen:hover:after {
    opacity:1;
}

.app-transform-rewind:after {
    position:absolute;
    right:200px;
    width:50px;
    bottom:50px;
    height:50px;
    text-align: center;
    content: "\23EA";
    display:none;
    margin:auto;
    line-height: 150%;
}

.app-transform-rewind:hover:after {
    content: "\23EA\A Previous";
}

.app-transform-rewind.play:after {
    display:block;
}

.app-transform-rewind.fullscreen:after {
    opacity:0;
}

.app-transform-rewind.fullscreen:hover:after {
    opacity:1;
}

.app-transform-fastforward:after {
    position:absolute;
    right:100px;
    width:50px;
    bottom:50px;
    height:50px;
    text-align: center;
    content: "\23E9";
    display:none;
    margin:auto;
    line-height: 150%;
}

.app-transform-fastforward:hover:after {
    content: "\23E9\A Next";
}

.app-transform-fastforward.play:after {
    display:block;
}

.app-transform-fastforward.fullscreen:after {
    opacity:0;
}

.app-transform-fastforward.fullscreen:hover:after {
    opacity:1;
}

.app-transform-widget {
    min-height:3em;
    padding:0;
    margin:0;
}

p.app-transform-widget {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

h4.app-transform-widget {
    text-align: center;
    width:100%;
}

.app-transform-widget:before {
    content:"\25B6\00a0";
    margin-left: -1.0em;
    display: inline-block;
    opacity:0;
}

.app-transform-widget.mark:before {
    opacity:1;
}
