.app-visualize-terms-container {
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 4em;
    position: absolute;
    overflow: hidden;
}

.app-visualize-terms-container.fullscreen {
    bottom: 0px;
}

.app-visualize-terms {
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    position: absolute;
    color: var(--color);
    overflow-x: hidden;
    overflow-y: auto;
    margin: 10px;
}

.app-visualize-term {
    line-height: 2em;
    margin: 0.2em;
    border: 1px solid black;
    padding: 30px;
    text-align: center;
    vertical-align: middle;
    box-sizing: border-box;
    position: absolute;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(81, 203, 238, 1);
    transition: all 1s;
    touch-action: none;
}

.app-visualize-term:hover {
    text-shadow: 0 0 25px rgba(81, 203, 238, 1), 0 0 10px #0000FF;
}

.app-visualize-term:hover:active {
    box-shadow: 0 0 5px rgba(81, 203, 238, 1), 0px 5px 5px rgba(81, 203, 238, 1);
}

.app-visualize-iconbar {
    position: absolute;
    bottom: 0%;
    left: 5%;
    right: 5%;
    background-color: #555;
    overflow-x: auto;
    overflow-y: hidden;
    height: 4em;
    opacity: 0.25;
    border-radius: 10px 10px 0px 0px;
    display: flex;
    align-items: stretch;
    justify-content: stretch;
    transition: all 0.3s ease;
}

.app-visualize-iconbar:hover {
    opacity: 1;
}

.app-visualize-iconbar.fullscreen {
    opacity: 0;
}

.app-visualize-iconbar.fullscreen:hover {
    opacity: 1;
}

.app-visualize-iconbar a {
    flex: 1;
    text-align: center;
    transition: all 0.3s ease;
    color: white;
    font-size: 2.5em;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 2.5em;
}

.app-visualize-iconbar a:hover {
    background-color: #020d17;
}

.app-visualize-iconbar a.active:hover {
    background-color: #196a19;
}

.app-visualize-iconbar a.active {
    background-color: #4CAF50;
}

.app-visualize-iconbar a.disabled {
    color: darkgray;
    background-color: #555;
}

.app-visualize-iconbar a.disabled:hover {
    color: lightgray;
    background-color: darkgray;
}

.app-visualize-iconbar a.seperator {
    border-left: 2px solid darkgray;
}

.app-visualize-iconbar a.asc:before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f309";
    position: relative;
}

.app-visualize-iconbar a.desc:before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f30c";
    position: relative;
}

.widget-transform-iconbar-fullscreen.fullscreen {
    background-color: #4CAF50;
}

.widget-transform-iconbar-fullscreen.fullscreen:hover {
    background-color: #196a19;
}