.app-transform-input {
    resize: none;
    overflow: auto;
    font-size:16px;
    height:180px;
    width:95%;
    margin:10px 10px 10px 10px;
    direction: ltr;
    background:var(--chrome-background);
    color:var(--chrome-color);
}

.app-transform-input.night-mode {
}

.app-transform-input.hebrew {
    direction: rtl;
}
