.app-table-widget {
    position: absolute;
    display: grid;
    overflow: auto;
    align-items: stretch;
    justify-items: stretch;
    grid-auto-columns: auto;
    grid-auto-rows: auto;
    align-content: center;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
}

.app-table-widget.edit-mode {
    grid-auto-rows: 2.5em;
    align-content: start;
}

.app-table-cell {
    margin: 6px;
    padding: 6px;
    color: var(--color);
    line-height: 2em;
    text-align: center;
}

.app-table-cell.header {
    text-align: center;
    border: 1px solid gray;
}

.app-table-cell.border {
    border: 1px solid black;
    box-shadow: 0 0 1px 1px #888;
    outline: transparent;
}

.app-table-cell.border:hover {
    text-shadow: 0 0 3px rgba(81, 203, 238, 1), 0 0 5px #0000FF;
    box-shadow: 0 0 5px rgba(81, 203, 238, 1);
    border: 1px solid rgba(81, 203, 238, 1);
    outline: 1px solid rgba(81, 203, 238, 1);
}

.app-table-cell.rowHeader {
    background-color: var(--chrome-highlight-background);
    color: var(--chrome-highlight-color);
    font-weight: bold;
}

.app-table-cell.columnHeader {
    background-color: var(--chrome-highlight-background);
    color: var(--chrome-highlight-color);
    font-weight: bold;
}