.app-present-editor-container {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    margin: 30px;
}

.app-present-editor {
    position: absolute;
    width: 100%;
    height: 100%;
    font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
    line-height: 2em;
    resize: none;
    overflow: auto;
    direction: ltr;
    padding: 10px;
    background: var(--chrome-background);
    color: var(--chrome-color);
}

.app-present-editor.hebrew {
    direction: rtl;
}