.app-gematria-bar {
    position: absolute;
    left:5%;
    width:90%;
    top:10px;
    height: 40px;
    display:flex;
}

.app-gematria-title-label {
    flex:0;
    color:var(--color);
    margin:10px;
    margin-left:10px;
    margin-right:10px;
    margin-top:5px;
}

.app-gematria-title {
    margin-left: 0px !important;
    width:20%;
}

.app-gematria-input-label {
    flex:0;
    margin-left:10px;
    margin-right:10px;
    margin-top:5px;
    color:var(--color);
}

.app-gematria-input {
    margin-left: 0px !important;
    direction: rtl;
    width:80%;
}

.app-gematria-diagram {
    position: absolute;
    display: grid;
    padding: 10px;
    left: 5px;
    top: 50px;
    right: 5px;
    bottom: 5px;
    grid-gap: 0.5% 1px;
    align-items: stretch;
    line-height: 2em;
    background-color:white;
    color:black;
}

.app-gematria-diagram.night-mode {
    background-color:var(--background);
    color:var(--color);
}

.app-gematria-letter {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    margin: 3px;
    padding:3px;
    text-align: center;
    vertical-align: middle;
    padding-bottom: 0.5em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.app-gematria-letter:hover {
    text-shadow: 0 0 3px rgba(81, 203, 238, 1), 0 0 5px #0000FF;
    box-shadow: 0 0 5px rgba(81, 203, 238, 1);
    border: 1px solid rgba(81, 203, 238, 1);
}

.app-gematria-number {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    margin: 0;
    font-size: 75%;
    text-align: center;
}

.app-gematria-pronunciation {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin: 0;
    font-size: 50%;
    text-align: center;
}
