.app-transform-input {
    resize: none;
    overflow: auto;
    height: 180px;
    width: 95%;
    margin: 10px 10px 10px 10px;
    direction: ltr;
    background: var(--chrome-background);
    color: var(--chrome-color);
}

.app-transform-input.hebrew {
    direction: rtl;
}