.app-propagate-editor-container {
    position: absolute;
    left: 5px;
    right: 5px;
    top: 5px;
    bottom: 5px;
}

.app-propagate-editor {
    position: absolute;
    width: 100%;
    height: 100%;
    line-height: 2em;
    font-size: 24px;
    resize: none;
    overflow: auto;
    font-size: 16px;
    direction: ltr;
    padding: 10px;
    background: var(--chrome-background);
    color: var(--chrome-color);
    font-family:monospace;    
}
