.app-keyboard-input {
    margin-left: 0px !important;
    position: relative;
    top: 10px;
    left: 5%;
    width: 90%;
    direction: rtl;
}

.app-keyboard-buttons {
    position: absolute;
    left: 5px;
    right: 5px;
    bottom: 5px;
    top: 50px;
    z-index: 1000;
    display: grid;
    align-items: start;
    grid-auto-columns: 60px;
    grid-auto-rows: 60px;
}

.app-keyboard-button {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    margin: 3px;
    padding: 3px;
    text-align: center;
    vertical-align: middle;
    padding-bottom: 0.5em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    color: var(--color);
}

.app-keyboard-button:hover:active {
    background-color: darkgreen;
    border: 1px solid green;
    color: lightgreen;
}

.app-keyboard-button:before {
    position: absolute;
    font-size: 50%;
    opacity: 0.8;
    top: 0.2em;
    line-height: 1em;
    text-align: center;
    pointer-events: none;
    user-select: none;
    content: attr(number);
    white-space: pre;
}

.app-keyboard-button:after {
    position: absolute;
    font-size: 50%;
    opacity: 0.8;
    bottom: 0.2em;
    line-height: 1em;
    text-align: center;
    pointer-events: none;
    user-select: none;
    content: attr(pronunciation);
    white-space: pre;
}