.app-envision-content {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    width: 100%;
    height: 100%;
    overflow: scroll;
    white-space: pre-wrap;
    user-select: text;
    color: var(--color);
    background-color: var(--background);
}

.app-envision-editor-container {
    position: absolute;
    left: 5px;
    right: 5px;
    top: 5px;
    bottom: 5px;
}

.app-envision-editor {
    position: absolute;
    width: 100%;
    height: 100%;
    font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
    line-height: 2em;
    resize: none;
    overflow: auto;
    direction: ltr;
    padding: 10px;
    background: var(--chrome-background);
    color: var(--chrome-color);
}

.app-envision-editor.hebrew {
    direction: rtl;
}