.app-folder-html {
    margin-bottom:10px;
    padding-top:10px
}

.app-folder-html.night-mode {
    background:var(--chrome-background);
}

.app-folder-tabs a.night-mode {
    background-color:var(--chrome-background);
    color:var(--chrome-color);
    border-bottom-color: var(--chrome-color);
}

.app-folder-tabs.is-boxed.night-mode li a {
    background-color:var(--chrome-background);
    color:var(--chrome-color);
    border-bottom-color: var(--chrome-color);
}

.app-folder-tabs.is-boxed.night-mode li a:hover {
    background-color:var(--background);
    color:var(--chrome-highlight-color);
    border-bottom-color: var(--background);
}

.app-folder-tabs.is-boxed.night-mode li.is-active a {
    background-color:var(--background);
    color:var(--chrome-color);
    border-bottom-color: var(--chrome-color);
}

.app-folder-tabs.is-boxed.night-mode li.is-active a:hover {
    background-color:var(--background);
    color:var(--chrome-color);
    border-bottom-color: var(--chrome-color);
}
