.react-list-container {
    flex: 1;
    position: relative;
}

.react-list-container.vertical {
    overflow-y: auto;
    overflow-x: hidden;
}

.react-list-container.horizontal {
    overflow-y: hidden;
    overflow-x: auto;
}

.react-list-item {
    position: absolute;
    overflow: hidden;
}

.react-list-end {
    position: absolute;
    width: 1px;
    height: 1px;
    background-color: red;
}