.kab-draw-circle {
    position: absolute;
    border-radius: 50%;
    left:60px;
    top: 60px;
    right:60px;
    bottom:60px;
    padding-top:15px;
}

.kab-draw-title {
    text-align: center;
    color:black;
    line-height: 2em;
}

.kab-draw-phase-root {
    background-color:var(--phase-root-background);
    border:1px solid var(--phase-root-border);
    color:var(--highlight-color);
    background: radial-gradient(circle at 100px 100px, var(--phase-root-background), var(--phase-root-border));
}

.kab-draw-phase-one {
    background-color:var(--phase-one-background);
    border:1px solid var(--phase-one-border);
    color:var(--highlight-color);
    background: radial-gradient(circle at 100px 100px, var(--phase-one-background), var(--phase-one-border));
}

.kab-draw-phase-two {
    background-color:var(--phase-two-background);
    border:1px solid var(--phase-two-border);
    color:var(--highlight-color);
    background: radial-gradient(circle at 100px 100px, var(--phase-two-background), var(--phase-two-border));
}

.kab-draw-phase-three {
    background-color:var(--phase-three-background);
    border:1px solid var(--phase-three-border);
    color:var(--highlight-color);
    background: radial-gradient(circle at 100px 100px, var(--phase-three-background), var(--phase-three-border));
}

.kab-draw-phase-four {
    background-color:var(--phase-four-background);
    border:1px solid var(--phase-four-border);
    color:var(--highlight-color);
    background: radial-gradient(circle at 100px 100px, var(--phase-four-background), var(--phase-four-border));
}
