.kab-term-category.kab-term-english {
    padding-left: 3em;
}

.kab-term-category.kab-term-hebrew {
    padding-right: 3em;
}

[kab-term-category]:after {
    position: absolute;
    font-weight: bold;
    font-size: 30%;
    top: 2.4em;
    line-height: 1em;
    text-transform: uppercase;
    pointer-events: none;
    user-select: none;
    content: attr(kab-term-category);
    transform: rotate(-90deg);
    border: 1px solid transparent;
    white-space: pre;
}

[kab-term-category].kab-term-english:after {
    left: -0.1em;
    margin-left: -0.5em;
}

[kab-term-category].kab-term-hebrew:after {
    top: 2em;
    right: 1em;
    font-size: 50%;
    margin-right: -0.5em;
}

.kab-term-category.kab-term-english {
    padding-left: 1.5em;
}

.kab-term-category.kab-term-hebrew {
    padding-right: 1.5em;
}

[kab-term-heading]:after {
    position: absolute;
    padding-left: 2px;
    padding-right: 2px;
    left: 0em;
    right: 0em;
    top: -1em;
    text-align: center;
    vertical-align: middle;
    height: 1em;
    font-size: 50%;
    pointer-events: none;
    user-select: none;
    content: attr(kab-term-heading);
}

[kab-term-heading].kab-term-english:after {
    left: 1em;
}

[kab-term-heading].kab-term-hebrew:after {
    right: 1em;
}

[kab-term-sub-heading]:after {
    position: absolute;
    padding-left: 2px;
    padding-right: 2px;
    left: 0em;
    right: 0em;
    top: 2.2em;
    height: 1em;
    text-align: center;
    font-size: 50%;
    pointer-events: none;
    user-select: none;
    content: attr(kab-term-sub-heading);
}

[kab-term-tooltip].kab-term-phase-none {
    border-bottom: 1px dashed darkgray;
}

[kab-term-tooltip]:after {
    visibility: hidden;
    pointer-events: none;
    transition: border 0.10s ease-in;
    left: 0px;
    top: -1px;
    position: absolute;
    line-height: 1em;
    padding: 0.2em;
    content: attr(kab-term-tooltip);
    text-align: center;
    white-space: pre;
    min-width: 100%;
    min-height: 100%;
    vertical-align: middle;
    border-radius: 5px;
}

[kab-term-tooltip]:hover:after {
    visibility: visible;
    pointer-events: auto;
    z-index: 100;
    cursor: none;
}

.kab-term-phase-inline {
    position: relative;
    white-space: nowrap;
    display: inline-block;
    min-height: 2em;
    margin: 0.1em;
    padding: 0.2em;
    border-radius: 5px;
    text-align: center;
    break-after: avoid;
    break-inside: avoid-column;
}

.kab-term-phase-standard-width {
    min-width: 12em;
}

[kab-term-phase-number]:after {
    position: absolute;
    top: -1em;
    vertical-align: middle;
    font-size: 60%;
    text-transform: uppercase;
    content: attr(kab-term-phase-number);
    width: 1em;
    height: 1em;
    padding: 0em;
    text-align: center;
    user-select: none;
}

[kab-term-phase-number].kab-term-english:after {
    right: 0.1em;
}

[kab-term-phase-number].kab-term-hebrew:after {
    left: 0.1em;
}

.kab-term-phase-none {
    min-width: 0;
}

.kab-term-phase-none.kab-term-category {
    padding-left: 1em;
}

.kab-term-phase-none.kab-term-phase-standard-width {
    min-width: 12em;
}

.kab-term-header {
    background-color: black;
    color: lightgray;
    font-weight: bold;
}

.kab-term-phase-none:hover:after {
    background-color: var(--background);
    color: var(--focus-color);
    border: 2px solid var(--phase-root-border);
}

.kab-term-phase-root-border {
    border: 1px solid var(--phase-root-border);
}

.kab-term-phase-root-underline {
    border-bottom: 1px solid var(--phase-root-border);
}

.kab-term-phase-root {
    color: var(--focus-color);
}

.kab-term-phase-root:hover:after {
    background-color: var(--background);
    color: var(--focus-color);
    border: 2px solid var(--phase-root-border);
}

.kab-term-phase-one {
    background-color: var(--phase-one-background-transparent);
    border: 2px solid var(--phase-one-border);
    color: var(--focus-color);
}

.kab-term-phase-one-border {
    border: 1px solid var(--phase-one-border);
}

.kab-term-phase-one-underline {
    border-bottom: 1px solid var(--phase-one-border);
}

.kab-term-phase-one:hover:after {
    background-color: var(--phase-one-background);
    border: 2px solid var(--phase-one-border);
    color: var(--focus-color);
}

.kab-term-phase-two {
    background-color: var(--phase-two-background-transparent);
    border: 2px solid var(--phase-two-border);
    color: var(--focus-color);
}

.kab-term-phase-two-border {
    border: 1px solid var(--phase-two-border);
}

.kab-term-phase-two-underline {
    border-bottom: 1px solid var(--phase-two-border);
}

.kab-term-phase-two:hover:after {
    background-color: var(--phase-two-background);
    border: 2px solid var(--phase-two-border);
    color: var(--focus-color);
}

.kab-term-phase-three {
    background-color: var(--phase-three-background-transparent);
    border: 2px solid var(--phase-three-border);
    color: var(--focus-color);
}

.kab-term-phase-three-border {
    border: 1px solid var(--phase-three-border);
}

.kab-term-phase-three-underline {
    border-bottom: 1px solid var(--phase-three-border);
}

.kab-term-phase-three:hover:after {
    background-color: var(--phase-three-background);
    border: 2px solid var(--phase-three-border);
}

.kab-term-phase-four {
    background-color: var(--phase-four-background-transparent);
    border: 2px solid var(--phase-four-border);
    color: var(--focus-color);
}

.kab-term-phase-four-border {
    border: 1px solid var(--phase-four-border);
}

.kab-term-phase-four-underline {
    border-bottom: 1px solid var(--phase-four-border);
}

.kab-term-phase-four:hover:after {
    background-color: var(--phase-four-background);
    border: 2px solid var(--phase-four-border);
}

.kab-term-phase-collective {
    background-color: var(--phase-collective-background-transparent);
    border: 2px solid var(--phase-collective-border);
    color: var(--focus-color);
}

.kab-term-phase-collective-border {
    border: 1px solid var(--phase-collective-border);
}

.kab-term-phase-collective:hover:after {
    background-color: var(--phase-collective-background);
    border: 2px solid var(--phase-collective-border);
}

.kab-term-commentary-edit {
    width: 100%;
    height: 5em;
    font-size: inherit;
    background-color: var(--chrome-background);
    color: var(--chrome-color);
    break-inside: avoid;
}

.kab-term-commentary-label {
    font-weight: bold;
}