[kab-term-heading]:after {
    position:absolute;
    padding-left:2px;
    padding-right:2px;
    top:0.3em;
    vertical-align:middle;
    height:1em;
    line-height: 1;
    font-weight:bold;
    font-size:50%;
    text-transform:uppercase;
    pointer-events: none;
    user-select: none;
    content: attr(kab-term-heading);
}

[kab-term-heading].kab-term-english:after {
    left:0em;
}

[kab-term-heading].kab-term-hebrew:after {
    right:0em;
}

[kab-term-tooltip].kab-term-phase-none {
    border-bottom:1px dashed darkgray;
}

[kab-term-tooltip]:after {
    visibility: hidden;
    pointer-events: none;
    transition: border 0.10s ease-in;
    top: -1px;
    left: -1px;
    position: absolute;
    line-height:1em;
    padding: 3px;
    content: attr(kab-term-tooltip);
    text-align:center;
    white-space: pre;
    min-width: 100%;
    min-height: 100%;
    padding-top:1px;
    vertical-align: middle;
    box-shadow: 2px 2px 2px grey;
    border-radius: 5px;
}

[kab-term-tooltip]:hover:after {
    visibility: visible;
    pointer-events: auto;
    z-index: 100;
    cursor: none;
}

.kab-term-phase-inline {
    position:relative;
    border-style:hidden;
    white-space: nowrap;
    display:inline-block;
    height:1.8em;
    margin:0.2em;
    padding:0.1em;
    border-radius: 5px;
    min-width:3.5em;
    text-align:center;
}

[kab-term-phase-number]:after {
    position:absolute;
    top:0.1em;
    vertical-align:middle;
    line-height: 1;
    font-size:60%;
    text-transform:uppercase;
    content:attr(kab-term-phase-number);
    width: 1em;
    height: 1em;
    padding: 0em;
    text-align: center;
    user-select: none;
}

[kab-term-phase-number].kab-term-english:after {
    right:0.1em;
}

[kab-term-phase-number].kab-term-hebrew:after {
    left:0.1em;
}

.kab-term-phase-none {
    background-color:white;
    min-width:0;
}

.kab-term-phase-none:hover:after {
    background-color:white;
    border:2px solid gray;
}

.kab-term-phase-root-border {
    border:1px solid gray;
}

.kab-term-phase-root-underline {
    border-bottom:1px solid gray;
}

.kab-term-phase-root {
    background-color:white;
}

.kab-term-phase-root:hover:after {
    background-color:white;
    border:2px solid gray;
}

.kab-term-phase-one {
    background-color:#FFF3CA;
}

.kab-term-phase-one-border {
    border:1px solid orange;
}

.kab-term-phase-one-underline {
    border-bottom:1px solid orange;
}

.kab-term-phase-one:hover:after {
    background-color:#FFF3CA;
    border:2px solid orange;
}

.kab-term-phase-two {
    background-color:#C8D9F9;
}

.kab-term-phase-two-border {
    border:1px solid darkblue;
}

.kab-term-phase-two-underline {
    border-bottom:1px solid darkblue;
}

.kab-term-phase-two:hover:after {
    background-color:#C8D9F9;
    border:2px solid darkblue;
}

.kab-term-phase-three {
    background-color:#F5CCCB;
}

.kab-term-phase-three-border {
    border:1px solid coral;
}

.kab-term-phase-three-underline {
    border-bottom:1px solid coral;
}

.kab-term-phase-three:hover:after {
    background-color:#F5CCCB;
    border:2px solid coral;
}

.kab-term-phase-four {
    background-color:#D9EAD2;
}

.kab-term-phase-four-border {
    border:1px solid green;
}

.kab-term-phase-four-underline {
    border-bottom:1px solid green;
}

.kab-term-phase-four:hover:after {
    background-color:#D9EAD2;
    border:2px solid green;
}

.kab-term-phase-collective {
    background-color:Plum;
}

.kab-term-phase-collective-border {
    border:1px solid MediumPurple;
}

.kab-term-phase-collective:hover:after {
    background-color:Plum;
    border:2px solid MediumPurple;
}

.kab-term-polaroid-left {
    float:left;
    background-color:white;
    margin:10px 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 250px;
    text-align: center;
    line-height:1;
    padding-top:5px;
    padding-bottom:5px;
}

.kab-term-polaroid-left:hover {
    box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 black;
}

.kab-term-polaroid-right {
    float:right;
    background-color:white;
    margin:10px 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 250px;
    text-align: center;
    line-height:1;
    padding-top:5px;
    padding-bottom:5px;
}

.kab-term-polaroid-right:hover {
    box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 black;
}

.kab-term-description-box {
    position: fixed;
    bottom: -2px;
    left:10%;
    right:10%;
    height:5em;
    z-index: 10;
    background-color: white;
    max-height: 0;
    border-radius: 5px 5px 0px 0px;
    transition-property: all;
    transition-duration: 1s;
    overflow-y: hidden;
    text-align: left;
    font-weight:normal;
}

.kab-term-description-box.show {
    max-height:5em;
}

.kab-term-description-type {
    position:absolute;
    top:0px;
    height:1.5em;
    padding-left:1em;
    padding-right:1em;
    padding-top:0.5em;
    line-height:100%;
    font-size:50%;
    font-weight: bold;
    text-transform:uppercase;
}

.kab-term-description-type.kab-term-english {
    right:0px;
}

.kab-term-description-type.kab-term-hebrew {
    left:0px;
}

.kab-term-short {
    position:absolute;
    left:0px;
    top:0px;
    height:1.5em;
    right:0px;
    padding-left:1em;
    padding-right:1em;
    padding-top:0.5em;
    line-height:100%;
    border-radius: 5px 5px 0px 0px;
    overflow:hidden;
    text-overflow: ellipsis;
}

.kab-term-short.kab-term-english {
    text-align: left;
}

.kab-term-short.kab-term-hebrew {
    text-align: right;
}

.kab-term-long {
    padding-left:1.5em;
    padding-right:1.5em;
    padding-bottom:0.05em;
    position:absolute;
    top:2.50em;
    left:0px;
    right:0px;
    height:5em;
    font-size:100%;
    display: inline;
    margin: 0 auto;
    white-space:normal;
    line-height: 100%;
}
