.app-storage-main {
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.app-storage-content {
    display: flex;
}

.app-storage-root {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.app-storage-children {
    display: flex;
    flex-direction: column;
    margin: 1em;
    flex: 1;
    flex-wrap: wrap;
    overflow-y: auto;
}

.app-storage-item {
    display: flex;
    align-items: center;
    overflow: hidden;
    min-width: 5em;
    min-height: 2em;
    padding: 0.5em;
}

.app-storage-item.root {
    padding-right: 1em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.app-storage-item.transfer {
    background-color: var(--chrome-background);
    padding-left: 1.5em;
    padding-right: 1.5em;
}

.app-storage-item.disabled {
    border: 1px solid lightgray;
    opacity: 0.5;
}

.app-storage-item.active {
    border: 1px solid transparent;
}

.app-storage-item.active.hover {
    border: 1px solid rgba(81, 203, 238, 1);
}

.app-storage-item.active.hover:active {
    box-shadow: 0 0 5px rgba(81, 203, 238, 1);
    border: 1px solid rgba(81, 203, 238, 1);
    background-color: var(--chrome-background);
}

.app-storage-item-name {
    margin-left: 0.5em;
    display: flex;
    align-items: center;
}

.app-storage-item-label {
    padding: 0.4em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.app-storage-item-edit {
    background-color: var(--chrome-background);
    color: var(--chrome-color);
    position: relative;
    border: none;
    font-size: inherit;
    z-index: 1000;
    appearance: none;
    outline: none;
    padding: 0.4em;
}

.app-storage-user-index {
    display: flex;
    align-items: flex-end;
    margin: 0.1em;
    padding: 0.1em;
    flex: 1;
    color: var(--color);
}

.app-storage-icon {
    width: 2em;
    height: 2em;
    color: var(--color);
    background-repeat: no-repeat;
    background-position: center;
}

.app-storage-icon.night-mode {
    filter: invert(100%);
}

.app-storage-folder-icon {
    background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgZmlsbD0ibm9uZSIgaGVpZ2h0PSIyNCIgc3Ryb2tlPSIjMDAwIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiIHN0cm9rZS13aWR0aD0iMiIgdmlld0JveD0iMCAwIDI0IDI0IiB3aWR0aD0iMjQiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTIyIDE5YTIgMiAwIDAgMS0yIDJINGEyIDIgMCAwIDEtMi0yVjVhMiAyIDAgMCAxIDItMmg1bDIgM2g5YTIgMiAwIDAgMSAyIDJ6Ii8+PC9zdmc+');
}

.app-storage-file-icon {
    background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgZmlsbD0ibm9uZSIgaGVpZ2h0PSIyNCIgc3Ryb2tlPSIjMDAwIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiIHN0cm9rZS13aWR0aD0iMiIgdmlld0JveD0iMCAwIDI0IDI0IiB3aWR0aD0iMjQiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTEzIDJINmEyIDIgMCAwIDAtMiAydjE2YTIgMiAwIDAgMCAyIDJoMTJhMiAyIDAgMCAwIDItMlY5eiIvPjxwb2x5bGluZSBwb2ludHM9IjEzIDIgMTMgOSAyMCA5Ii8+PC9zdmc+');
}

.app-storage-file-editor {
    resize: none;
    flex: 1;
    background-color: var(--chrome-background) !important;
    color: var(--chrome-color) !important;
    padding: 1em !important;
}

.app-storage-button {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    justify-items: center;
    border: 1px solid transparent;
    padding: 0.5em;
    margin-left: 0.5em;
    margin-right: 0.5em;
}

.app-storage-button.border {
    border: 1px solid var(--chrome-color);
}

.app-storage-button.disable {
    opacity: 0.5;
}

.app-storage-button:not(.disable):hover:active {
    box-shadow: 0 0 5px rgba(81, 203, 238, 1);
    border: 1px solid rgba(81, 203, 238, 1);
    background-color: var(--chrome-background);
    color: var(--chrome-color);
    filter: invert(25%);
}

.app-storage-button:not(.disable):hover {
    box-shadow: 0 0 5px rgba(81, 203, 238, 1);
    border: 1px solid rgba(81, 203, 238, 1);
}