.modal-progress-bar {
    position:relative;
    top:60px;
    left:10%;
    width: 80%;
    height: 20px;
    border: 1px solid #2980b9;
    border-radius: 3px;
    background-image: 
      repeating-linear-gradient(
        -45deg,
        #2980b9,
        #2980b9 11px,
        #eee 10px,
        #eee 20px /* determines size */
      );
    background-size: 28px 28px;
    animation: popup-progress-move .5s linear infinite;
  }
  
  @keyframes modal-progress-move {
    0% {
      background-position: 0 0;
    }
    100% {
      background-position: 28px 0;
    }
  }
