.react-swimlane-container {
    display: flex;
    flex-direction: column;
    margin-top: 1em;
    padding-bottom: 1em;
    height: 100%;
    width: 100%;
    border-bottom: 1px solid var(--border-color);
}

.react-swimlane-container.ltr {
    padding-left: 1em;
}

.react-swimlane-container.rtl {
    padding-right: 1em;
}

.react-swimlane-label {
    display: flex;
    font-weight: bold;
    font-size: 150%;
    margin-bottom: 0.5em;
}

.react-swimlane-children {
    flex: 1;
    display: flex;
}

.react-swimlane-item-container {
    margin-right: 1em;
    margin-bottom: 1em;
    width: 260px;
    height: 280px;
    overflow: hidden;
    position: absolute;
    padding: 0.2em;
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border: 1px solid transparent;
}

.react-swimlane-item-container:active:hover {
    box-shadow: 0 0 5px rgba(81, 203, 238, 1);
    border: 1px solid rgba(81, 203, 238, 1);
}

.react-swimlane-item-image-bg {
    background-color: black;
    width: 250px;
    height: 156.250px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.react-swimlane-item-image {
    pointer-events: none;
    width: 250px;
    height: 156.250px;
    object-fit: contain;
}

.react-swimlane-item-overlay {
    pointer-events: none;
    object-fit: contain;
}

.react-swimlane-item-details {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.react-swimlane-item-image-loader, .react-swimlane-item-image-loader:before, .react-swimlane-item-image-loader:after {
    border-radius: 50%;
    width: 1em;
    height: 1em;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation: react-swimlane-item-image-spin 1.8s infinite ease-in-out;
    animation: react-swimlane-item-image-spin 1.8s infinite ease-in-out;
}

.react-swimlane-item-image-loader {
    color: #ffffff;
    font-size: 10px;
    position: relative;
    left: 50%;
    text-indent: -9999em;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}

.react-swimlane-item-image-loader:before, .react-swimlane-item-image-loader:after {
    content: '';
    position: absolute;
    top: 0;
}

.react-swimlane-item-image-loader:before {
    left: -1em;
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}

.react-swimlane-item-image-loader:after {
    left: 1em;
}

@keyframes react-swimlane-item-image-spin {
    0%, 80%, 100% {
        box-shadow: 0 1em 0 -1.3em;
    }
    40% {
        box-shadow: 0 1em 0 0;
    }
}