.react-swimlane-container {
    display: flex;
    flex-direction: column;
    margin-top: 0.5em;
    padding-bottom: 1em;
    height: 100%;
    width: 100%;
}

.react-swimlane-label {
    display: flex;
    font-weight: bold;
    font-size: 150%;
    padding-left: 1em;
    padding-right: 1em;
}

.react-swimlane-children {
    flex: 1;
    display: flex;
}

.react-swimlane-item-container {
    margin: 0.25em;
    width: 15em;
    overflow: hidden;
    position: absolute;
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border: 1px solid transparent;
}

.react-swimlane-item-container:hover:active {
    outline: 1px solid rgba(81, 203, 238, 1);
}

.react-swimlane-item-container:hover .react-swimlane-item-title-overlay {
    opacity: 1.0;
}

.react-swimlane-item-image-bg {
    background-color: black;
    width: 15em;
    height: 10em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.react-swimlane-item-image {
    pointer-events: none;
    width: 15em;
    height: 10em;
    object-fit: contain;
}

.react-swimlane-item-overlay {
    pointer-events: none;
    object-fit: contain;
}

.react-swimlane-item-details {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 6px;
}

.react-swimlane-item-image-loader, .react-swimlane-item-image-loader:before, .react-swimlane-item-image-loader:after {
    pointer-events: none;
    border-radius: 50%;
    width: 1em;
    height: 1em;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation: react-swimlane-item-image-spin 1.8s infinite ease-in-out;
    animation: react-swimlane-item-image-spin 1.8s infinite ease-in-out;
}

.react-swimlane-item-image-loader {
    color: #ffffff;
    font-size: 10px;
    position: relative;
    left: 50%;
    text-indent: -9999em;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}

.react-swimlane-item-image-loader:before, .react-swimlane-item-image-loader:after {
    content: '';
    position: absolute;
    top: 0;
}

.react-swimlane-item-image-loader:before {
    left: -1em;
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}

.react-swimlane-item-image-loader:after {
    left: 1em;
}

.react-swimlane-item-title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    padding-left: 0.5em;
    padding-right: 0.5em;
    padding-top: 0.1em;
    padding-bottom: 0.1em;
    text-align: center;
    color: var(--chrome-color);
    background-color: var(--chrome-background);
    border-bottom: 1px solid var(--chrome-border);
}

.react-swimlane-item-title-overlay {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0px;
    font-size: 1.5em;
    padding-left: 0.1em;
    padding-right: 0.1em;
    padding-top: 0.1em;
    padding-bottom: 0.1em;
    font-weight: bold;
    color: var(--chrome-color);
    background-color: rgba(0, 0, 0, 0.5);
    align-content: center;
    justify-content: center;
    align-items: center;
    justify-items: center;
    pointer-events: none;
    text-align: center;
    opacity: 0;
    transition: opacity 1s;
    text-shadow: 0 0 25px rgba(81, 203, 238, 1), 0 0 10px #0000FF;
}

@keyframes react-swimlane-item-image-spin {
    0%, 80%, 100% {
        box-shadow: 0 1em 0 -1.3em;
    }
    40% {
        box-shadow: 0 1em 0 0;
    }
}