.widget-tree-border {
    border: 1px solid #0f2777;
    border-radius: 15px;
    overflow: hidden;
    background: white;
    display: flex;
}

.widget-tree-dropdown-group {
    display: flex;
    position: relative;
    margin-left: 18px;
}

.widget-tree-dropdown-selection {
    text-align: left;
    border: 1px solid #0f2777;
    border-radius: 5px 5px 5px 5px;
    margin-top: 2px;
    margin-bottom: 2px;
    margin-right: -18px;
    position: relative;
    padding-left: 6px;
    padding-right: 6px;
    flex: 1;
    height: 19px;
    width: 100%;
    user-select: none;
    cursor: default;
    overflow: hidden;
}

.widget-tree-dropdown-selection:after:hover:active {
    box-shadow: 0px 0px 15px 3px #0f2777;
    border-radius: 15px;
}

.widget-tree-dropdown-button {
    flex: none;
    width: 18px;
    height: 18px;
    background-color: white;
}

.widget-tree-dropdown-button::after {
    border-color: #0f2777;
    border-style: solid;
    border-width: 0.10em 0.10em 0 0;
    content: '';
    display: inline-block;
    height: 0.20em;
    left: 0.35em;
    position: relative;
    vertical-align: top;
    width: 0.20em;
    top: 0.55em;
    transform: rotate(135deg);
}

.widget-tree-dropdown-button-arrow {
    display: none;
}

.widget-tree-dropdown-button-line {
    display: none;
}

.widget-tree-popup-border {
    position: absolute;
    background: white;
    border: 1px solid #0f2777;
    z-index: 1000;
    margin-top: -3px;
    box-sizing: border-box;
    display: flex;
    border-radius: 5px 5px 5px 5px;
    overflow: hidden;
}

.widget-tree-list {
    display: block;
    margin: 0;
}

.widget-tree-item {
    display: block;
}

.widget-tree-item-container {
    display: flex;
}

.widget-tree-item.separator {
    margin-top: 3px;
    border-top: 3px solid white;
    box-shadow: 0px -1px 0px 0px black;
}

.widget-tree-item-original {
    opacity: 0;
}

.widget-tree-item-label {
    background-color: white;
    color: black;
    min-height: 18px;
    padding-left: 3px;
    padding-right: 3px;
    text-align: left;
    display: block;
    cursor: default;
    user-select: none;
}

.widget-tree-item-label.selected {
    background-color: #000080;
    color: white;
}

.widget-tree-item-icon {
    display: none;
}

.widget-tree-item-icon::after {
    background: white;
    color: #0f2777;
    position: relative;
    width: 1em;
    height: 1em;
    content: '+';
    text-align: center;
    line-height: .9em;
}

.widget-tree-item-icon.parent {
    display: flex;
}

.widget-tree-item-original:checked+.widget-tree-item-icon:after {
    content: '–';
}

.widget-tree-dropdown-button {
    flex: none;
    width: 18px;
    height: 18px;
    background-color: white;
}

.widget-tree-dropdown-button::after {
    border-color: #0f2777;
    border-style: solid;
    border-width: 0.10em 0.10em 0 0;
    content: '';
    display: inline-block;
    height: 0.20em;
    left: 0.35em;
    position: relative;
    vertical-align: top;
    width: 0.20em;
    top: 0.55em;
    transform: rotate(135deg);
}

.widget-tree-dropdown-button-arrow {
    display: none;
}

.widget-tree-dropdown-button-line {
    display: none;
}

.widget-tree-dropdown-button {
    flex: none;
    width: 18px;
    height: 18px;
    background-color: white;
}

.widget-tree-dropdown-button::after {
    border-color: #0f2777;
    border-style: solid;
    border-width: 0.10em 0.10em 0 0;
    content: '';
    display: inline-block;
    height: 0.20em;
    left: 0.35em;
    position: relative;
    vertical-align: top;
    width: 0.20em;
    top: 0.55em;
    transform: rotate(135deg);
}

.widget-tree-dropdown-button-arrow {
    display: none;
}

.widget-tree-dropdown-button-line {
    display: none;
}