.widget-schedule-container {
    position: absolute;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    margin: 10px;
}

.widget-schedule-nav {
    position: absolute;
    text-decoration: none;
    display: inline-block;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    background-color: var(--background);
    color: var(--color);
    border: 2px solid var(--border-color);
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 5px;
}

.widget-schedule-nav:hover {
    background-color: var(--chrome-highlight-background);
    color: var(--chrome-highlight-color);
    border: 2px solid var(--border-color);
}

.widget-schedule-nav:hover:active {
    background-color: var(--chrome-highlight-background);
    color: var(--chrome-highlight-color);
    border: 2px solid var(--border-color);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.widget-schedule-previous {
    left: 30px;
    bottom: 20px;
}

.widget-schedule-next {
    right: 30px;
    bottom: 20px;
}

.widget-schedule-today {
    right: 100px;
    bottom: 20px;
    font-size: 60%;
    padding-top: 5px;
}

.widget-schedule-grid {
    background: var(--background);
    color: var(--color);
    position: absolute;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    overflow: auto;
}

.widget-schedule-month-grid {
    display: grid;
    height: 100%;
}

.widget-schedule-week-grid {
    display: grid;
    grid-template-rows: 40px 40px 40px 40px auto;
    grid-template-columns: auto;
    overflow: auto;
}

.widget-schedule-year {
    grid-row: 1/1;
    background: var(--phase-one-background);
    text-align: center;
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
    margin-right: 20px;
    padding-left: 60px;
    padding-right: 60px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    font-weight: bold;
}

.widget-schedule-year.night-mode {
    text-shadow: 2px 2px 4px #000000;
}

.widget-schedule-month {
    grid-column: auto;
    grid-row: 2;
    background: var(--phase-two-background);
    text-align: center;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 3px 3px 3px;
    padding: 7px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    font-weight: bold;
}

.widget-schedule-month.night-mode {
    text-shadow: 2px 2px 4px #000000;
}

.widget-schedule-day {
    grid-row: 3;
    background: var(--phase-three-background);
    text-align: center;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 7px;
    margin: 3px 3px 0px 3px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    font-weight: bold;
    min-width: 180px;
}

.widget-schedule-day:hover:active {
    background: linear-gradient(to right, var(--phase-three-background), var(--phase-three-border));
}

.widget-schedule-day.night-mode {
    text-shadow: 2px 2px 4px #000000;
}

.widget-schedule-day.background {
    grid-row-start: 3;
    grid-row-end: last-line;
    background: var(--background);
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 3px;
}

.widget-schedule-day.today {
    background: var(--phase-three-border);
}

.widget-schedule-day.background.today {
    background: var(--alt-background);
}

.widget-schedule-weekday {
    grid-row: 4;
    background: var(--phase-four-background);
    color: var(--color);
    text-align: center;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    padding: 7px;
    margin: 0px 3px 0px 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

.widget-schedule-weekday.night-mode {
    text-shadow: 2px 2px 4px #000000;
}

.widget-schedule-weekday.today {
    background: var(--phase-four-border);
}

.widget-schedule-events-grid {
    grid-row: 5;
    background: var(--background);
    margin: 0px 3px 0px 3px;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: flex;
    flex-direction: column;
}

.widget-schedule-event {
    background: var(--background);
    color: var(--color);
    text-align: center;
    border: 1px solid transparent;
    border-bottom: 1px solid black;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: stretch;
    justify-self: stretch;
    min-height: 8em;
}

.widget-schedule-event-name {
    color: var(--color);
    text-align: center;
    padding-left: 18px;
    padding-right: 18px;
    padding-top: 6px;
    padding-bottom: 6px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-self: center;
}

.widget-schedule-apps {
    background: var(--background);
    color: var(--color);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-self: center;
    flex-wrap: wrap;
}

.widget-schedule-app {
    flex: 1;
    background: var(--background);
    color: var(--color);
    text-align: center;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 6px;
    padding-right: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-self: stretch;
    font-weight: bold;
    border: 1px solid transparent;
}

.widget-schedule-app:hover {
    background-color: var(--chrome-highlight-background);
    color: var(--chrome-highlight-color);
    border: 1px solid var(--border-color);
}

.widget-schedule-app:hover:active {
    background-color: var(--color);
    color: var(--background);
    border: 1px solid var(--border-color);
}