.widget-window-border {
    border: Solid 1px #0f2777;
    border-radius: 15px;
    overflow: hidden;
    min-width: 200px;
    min-height: 200px;
    background-color: var(--background);
    background-size: 400% 400%;
    transition: opacity 1s, transform 1s;
    opacity: 1;
}

.widget-window-border.transparent {
    background: none;
}

.widget-window-border.see-through {
    opacity: 0.25;
}

.widget-window-border.focus.see-through {
    opacity: 0.75;
}

.widget-window-border.maximize {
    border-radius: 0px;
    border: none;
}

.widget-window-border.focus {
    box-shadow: 0px 0px 15px 3px #0f2777;
}

.widget-window-border.minimize {
    opacity: 0;
    transform: translate(0, 200%);
    z-index: 1000 !important;
}

.widget-window-border.concealed {
    visibility: hidden;
}

.widget-window-border.embed {
    border-radius: 5px 5px 0px 0px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, .5);
}

.widget-window-border.fullscreen {
    border: none;
    border-radius: 0px;
}

.widget-window-border.fullscreen.focus {
    box-shadow: none;
}

.widget-window-align {
    position: absolute;
    background: rgba(0, 0, 0, 0.25);
    border: 1px solid rgba(255, 255, 255, 0.5);
    display: none;
    z-index: 1000;
}

.widget-window-align.show {
    display: block;
}

.widget-window-align.left.show {
    left: 0px;
    top: 0px;
    width: 50%;
    height: 100%;
}

.widget-window-align.left.top.show {
    height: 50%;
    width: 50%;
}

.widget-window-align.left.bottom.show {
    top: 50%;
    height: 50%;
    width: 50%;
}

.widget-window-align.right.show {
    right: 0px;
    top: 0px;
    width: 50%;
    height: 100%;
}

.widget-window-align.right.top.show {
    left: 50%;
    height: 50%;
    width: 50%;
}

.widget-window-align.right.bottom.show {
    left: 50%;
    top: 50%;
    height: 50%;
    width: 50%;
}

.widget-window-align.top.show {
    left: 0px;
    top: 0px;
    width: 100%;
    height: 50%;
}

.widget-window-align.bottom.show {
    left: 0px;
    bottom: 0px;
    width: 100%;
    height: 50%;
}

.widget-window-margin {
    position: absolute;
    left: 2px;
    top: 2px;
    right: 2px;
    bottom: 2px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    border: Solid 1px #0f2777;
    box-shadow: 0px 0px 15px 3px #0f2777;
    border-radius: 15px;
    margin: 2px;
}

.widget-window-margin.transparent {
    background: none;
}

.widget-window-margin.maximize {
    position: absolute;
    left: -1px;
    top: -1px;
    right: -1px;
    bottom: -1px;
    border-radius: 0px;
    margin: 0px;
}

.widget-window-margin.child.maximize {
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    border: none;
    border-radius: 0px;
    margin: 0px;
}

.widget-window-margin.fullscreen {
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    border: none;
    border-radius: 0px;
    box-shadow: none;
    margin: 0px;
}

.widget-window-margin.embed {
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    border: none;
    border-radius: 0px;
    box-shadow: none;
    margin: 0px;
}

.widget-window-header {
    flex: none;
    display: none;
    background-color: var(--chrome-background);
    border-bottom: 1px solid var(--color);
    position: relative;
}

.widget-window-header.has-menu {
    display: flex;
}

.widget-window-header.embed {
    display: none;
}

.widget-window-header.menu.embed {
    display: none;
}

.widget-window-header.fullscreen {
    display: none;
}

.widget-window-header.menu.fullscreen {
    display: none;
}

.widget-window-footer {
    flex: none;
    height: 18px;
    display: none;
    color: black;
    line-height: 18px;
    position: relative;
    padding-top: 2px;
    padding-left: 10px;
    background: white;
    border-top: 1px solid #0f2777;
}

.widget-window-left {
    position: absolute;
    left: -1px;
    top: -1px;
    width: 3px;
    bottom: -1px;
    cursor: ew-resize;
}

.widget-window-left.child {
    display: none;
}

.widget-window-left.fixed {
    display: none;
}

.widget-window-right {
    position: absolute;
    right: -1px;
    top: -1px;
    width: 3px;
    bottom: -1px;
    cursor: ew-resize;
}

.widget-window-right.child {
    display: none;
}

.widget-window-right.fixed {
    display: none;
}

.widget-window-top {
    position: absolute;
    left: -1px;
    right: -1px;
    top: -1px;
    height: 3px;
    cursor: ns-resize;
}

.widget-window-top.child {
    display: none;
}

.widget-window-top.fixed {
    display: none;
}

.widget-window-bottom {
    position: absolute;
    left: -1px;
    right: -1px;
    bottom: -1px;
    height: 3px;
    cursor: ns-resize;
}

.widget-window-bottom.child {
    display: none;
}

.widget-window-bottom.fixed {
    display: none;
}

.widget-window-top-left {
    position: absolute;
    left: -1px;
    top: -1px;
    width: 21px;
    height: 21px;
    cursor: nwse-resize;
    background: none;
    border: none;
}

.widget-window-top-left.child {
    width: 18px;
    height: 18px;
}

.widget-window-top-left.fixed {
    display: none;
}

.widget-window-top-left.fullscreen {
    display: none;
}

.widget-window-top-right {
    position: absolute;
    top: -1px;
    right: -1px;
    width: 21px;
    height: 21px;
    cursor: nesw-resize;
    background: none;
    border: none;
}

.widget-window-top-right.child {
    display: none;
}

.widget-window-top-right.fixed {
    display: none;
}

.widget-window-top-right.fullscreen {
    display: none;
}

.widget-window-bottom-left {
    position: absolute;
    left: -1px;
    bottom: -1px;
    width: 21px;
    height: 21px;
    cursor: nesw-resize;
    background: none;
    border: none;
}

.widget-window-bottom-left.child {
    display: none;
}

.widget-window-bottom-left.fixed {
    display: none;
}

.widget-window-bottom-left.fullscreen {
    display: none;
}

.widget-window-bottom-right {
    position: absolute;
    bottom: -1px;
    right: -1px;
    width: 21px;
    height: 21px;
    cursor: nwse-resize;
    background: none;
    border: none;
}

.widget-window-bottom-right.child {
    display: none;
}

.widget-window-bottom-right.fixed {
    display: none;
}

.widget-window-bottom-right.fullscreen {
    display: none;
}

.widget-window-title {
    flex: none;
    display: flex;
    height: 1.5em;
    border-bottom: none;
    background: var(--chrome-background);
}

.widget-window-title.child {
    display: none;
}

.widget-window-title.fullscreen {
    display: none;
}

.widget-window-label {
    text-align: center;
    background-color: black;
    line-height: 1.5em;
    flex: 1;
    margin-left: auto;
    margin-right: auto;
    cursor: auto;
    user-select: none;
    color: lightgray;
    border: Solid 1px black;
    border-radius: 0px 0px 5px 5px;
    box-sizing: border-box;
    margin-top: -2px;
    height: 1.5em;
}

.widget-window-label.maximize {
    user-select: text;
}

.widget-window-label.focus {
    background-color: var(--title-color);
    color: var(--chrome-highlight-color);
    box-shadow: 0px 0px 15px 3px var(--title-color);
    border: solid 1px var(--title-color);
}

.widget-window-label.child {
    display: none;
}

.widget-window-label.fullscreen {
    display: none;
}

.widget-window-label.embed {
    border-radius: 5px 5px 0px 0px;
    border: none;
    box-shadow: none;
    margin-top: 2px;
    font-weight: bold;
    background-color: white;
    color: black;
    font-size: 0.5em;
}

.widget-window-label.embed.focus {
    background-color: white;
    color: black;
}

.widget-window-contextMenu {
    flex: none;
    width: 1.5em;
    background-color: var(--chrome-background);
    margin-left: auto;
    margin-right: auto;
}

.widget-window-contextMenu::after {
    border-color: var(--border-color);
    border-style: solid;
    border-width: 2px 2px 0 0;
    content: '';
    display: inline-block;
    height: 0.4em;
    left: 0.5em;
    position: relative;
    vertical-align: top;
    width: 0.4em;
    top: 0.5em;
    transform: rotate(135deg);
}

.widget-window-contextMenu:hover:active {
    box-shadow: 0px 0px 15px 3px var(--border-color);
    border-radius: 15px;
}

.widget-window-contextMenu.child::after {
    top: 8px;
}

.widget-window-contextMenu.fullscreen {
    display: none;
}

.widget-window-action {
    flex: none;
    width: 1.5em;
    height: 1.5em;
    margin-left: auto;
    margin-right: auto;
}

.widget-window-action:hover:active {
    box-shadow: 0px 0px 15px 3px var(--border-color);
    border-radius: 15px;
}

.widget-window-action.fullscreen {
    display: none;
}

.widget-window-action.embed {
    display: none;
}

.widget-window-close-icon {
    position: relative;
    width: 50%;
    height: 50%;
    left: 45%;
    top: 30%;
    box-sizing: border-box;
    border-radius: 2px;
}

.widget-window-close-icon:before, .widget-window-close-icon:after {
    position: absolute;
    content: ' ';
    height: 0.6em;
    width: 0.1em;
    background: var(--border-color);
}

.widget-window-close-icon:before {
    transform: rotate(45deg);
}

.widget-window-close-icon:after {
    transform: rotate(-45deg);
}

.widget-window-minimize-icon {
    background: var(--border-color);
    position: relative;
    top: 0.6em;
    left: 0.6em;
    width: 0.25em;
    height: 0.25em;
    box-sizing: border-box;
    border-radius: 2px;
}

.widget-window-maximize-icon {
    border-radius: 2px;
    position: relative;
    left: 0.5em;
    top: 0.5em;
    width: 0.5em;
    height: 0.5em;
    border: 2px dotted var(--border-color);
    box-sizing: border-box;
}

.widget-window-maximize-icon.restore {
    border: 2px solid var(--border-color);
}

.widget-window-maximize.fixed {
    display: none;
}

.widget-window-maximize.popup {
    display: none;
}

.widget-window-minimize.popup {
    display: none;
}

.widget-window-minimize.temp {
    display: none;
}

.widget-window-close.child {
    display: none;
}

.widget-window-close.static {
    display: none;
}

.widget-window-minimize.child {
    display: none;
}

.widget-window-icon.widget-icon-icon {
    display: none;
}

.widget-window-icon.widget-icon-icon.minimize {
    display: block;
}

.widget-window-icon.widget-icon-list {
    display: flex;
    margin-left: 3px;
    margin-right: 3px;
    align-items: stretch;
    flex-wrap: nowrap;
    position: relative;
    min-width: 50px;
    box-shadow: 0px 0px 15px 3px #0f2777;
    background-color: transparent;
    color: white;
    border: 1px solid rgb(90, 58, 58);
    border-radius: 5px;
    align-items: center;
}

.widget-window-icon.widget-icon-list.minimize {
    box-shadow: none;
    background-color: transparent;
    color: white;
    border: 1px solid transparent;
}

.widget-window-icon.widget-icon-list.focus {
    box-shadow: 0px 0px 15px 3px #0f2777;
    background-color: #0f2777;
    color: white;
    border: 1px solid lightblue;
}