.widget-spinner-loader, .widget-spinner-loader span, .widget-spinner-spinner {
  position: absolute;
  width: 200px;
  height: 200px;
  top: 50%;
  left: 50%;
  margin: -100px 0 0 -100px;
}

.widget-spinner-loader span {
  line-height: 200px;
  text-align: center;
  color: var(--spinner-color);
  text-shadow: 0 0 3px rgba(81, 203, 238, 1), 0 0 5px #0000FF;
}

.widget-spinner-spinner {
  border-radius: 50%;
  box-shadow: 3px 0 1px -1px var(--spinner-color), 5px 0 5px rgba(30, 144, 255, 0.5), inset -10px 0 10px -5px rgba(30, 144, 255, 0.5);
  animation: widget-spinner-loading 2s linear infinite;
}

.widget-spinner-spinner:before {
  position: absolute;
  width: 160px;
  height: 160px;
  margin: 10% 0 0 10%;
  border-radius: 50%;
  content: " ";
  box-shadow: 2px 0 1px -1px var(--spinner-color), 10px 0 5px -5px rgba(30, 144, 255, 0.5), inset -3px 0 3px rgba(30, 144, 255, 0.5);
}

@keyframes widget-spinner-loading {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}