body {
    overflow: hidden;
}

.widget-desktop-container {
    position: absolute;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    overflow: hidden;
    cursor: default;
    user-select: none;
    user-drag: none;
    touch-action: none;
}

.widget-desktop-background {
    position: absolute;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    overflow: hidden;
    cursor: default;
    user-select: none;
    user-drag: none;
    touch-action: none;
	color: lightblue;
	background: linear-gradient(-45deg, #FFF3CA, #C8D9F9, #F5CCCB, #D9EAD2);
	background-size: 400% 400%;
	animation: widget-desktop-gradient 60s ease infinite;
}

.widget-desktop-background.night-mode {
	background: linear-gradient(-45deg, #e8a200, #5274b6, #cc6e6d, #418842);
	background-size: 400% 400%;
	animation: widget-desktop-gradient 60s ease infinite;
}

.widget-desktop-workspace {
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 2.3em;
    position: absolute;
    overflow: hidden;
}

@keyframes widget-desktop-gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}