.widget-container-root {
    flex: 1;
    background-color: var(--background);
    overflow: auto;
    position: relative;
    display: block;
    color: var(--color);
}

.widget-container-root.transparent {
    background: none;
}