.widget-radio-container {
    display: flex;
    margin-top: 2px;
}

.widget-radio-label {
    position: relative;
    left: 5px;
    top: -1px;
    user-select: none;
    cursor: default;
}

.widget-radio-original {
    opacity: 0;
}

.widget-radio-icon {
    display: flex;
    cursor: default;
    position: relative;
    width: 10px;
    height: 10px;
    top: 0;
    left: 0;
    background: #eee;
    border: 2px solid #ddd;
    border-radius: 50%;
}

.widget-radio-original:checked+.widget-radio-icon {
    background: #0f2777;
    background-image: linear-gradient(#0f2555, #0f2999);
}