.widget-list-border {
    border: 1px solid #0f2777;
    border-radius: 15px;
    overflow: hidden;
    background: white;
    display: flex;
}

.widget-list-dropdown-group {
    display: flex;
    position: relative;
    margin-left: 18px;
}

.widget-list-dropdown-selection {
    text-align: left;
    border: 1px solid #0f2777;
    border-radius: 5px 5px 5px 5px;
    margin-right: -18px;
    margin-top: 5px;
    margin-bottom: 5px;
    position: relative;
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 3px;
    padding-bottom: 3px;
    flex: 1;
    height: 26px;
    width: 100%;
    user-select: none;
    cursor: default;
    overflow: hidden;
}

.widget-list-dropdown-selection:after:hover:active {
    box-shadow: 0px 0px 15px 3px #0f2777;
    border-radius: 15px;
}

.widget-list-dropdown-button {
    flex: none;
    width: 18px;
    height: 18px;
    background-color: white;
    margin-top: 5px;
    margin-bottom: 5px;
}

.widget-list-dropdown-button::after {
    border-color: #0f2777;
    border-style: solid;
    border-width: 0.10em 0.10em 0 0;
    content: '';
    display: inline-block;
    height: 0.40em;
    left: 0.25em;
    position: relative;
    vertical-align: top;
    width: 0.40em;
    top: 0.55em;
    transform: rotate(135deg);
}

.widget-list-dropdown-button-arrow {
    display: none;
}

.widget-list-dropdown-button-line {
    display: none;
}

.widget-list-popup-border {
    position: absolute;
    background: white;
    border: 1px solid #0f2777;
    z-index: 1000;
    margin-top: -6px;
    box-sizing: border-box;
    display: flex;
    border-radius: 5px 5px 5px 5px;
    overflow: hidden;
}

.widget-list-item {
    background-color: white;
    color: black;
    min-height: 18px;
    padding-left: 6px;
    padding-right: 6px;
    text-align: left;
    display: block;
    cursor: default;
    user-select: none;
}

.widget-list-item.selected {
    background-color: #0f2777;
    color: white;
}

.widget-list-item.separator {
    margin-top: 3px;
    border-top: 3px solid white;
    box-shadow: 0px -1px 0px 0px black;
}