.widget-desktop-container {
    position: absolute;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    overflow: hidden;
    cursor: default;
    user-select: none;
    -webkit-user-drag: none;
    touch-action: none;
    background-color: #2e0150;
}

.widget-desktop-background {
    overflow: hidden;
    cursor: default;
    user-select: none;
    -webkit-user-drag: none;
    touch-action: none;
    width: 100%;
    height: auto;
    vertical-align: middle;
}

.widget-desktop-workspace {
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 2.3em;
    position: absolute;
    overflow: hidden;
    display:flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

@font-face {
    font-family: "ShlomoStam";
    src: url("/packages/res/fonts/ShlomoStam.ttf");
}

body {
    overflow: hidden;
    font-variant-numeric: tabular-nums;
    font-size:1em;
    background-color:#2e0150;
}

.label.night-mode {
    color: var(--chrome-color);
}

.input.night-mode {
    background-color: var(--chrome-background);
    color: var(--chrome-color);
}

.input.night-mode::placeholder {
    color: var(--chrome-disabled-color);
}

.select select.night-mode {
    background-color: var(--field-background);
    color: var(--field-color);
}

.modal-background.night-mode {
    background-color: rgb(10, 10, 10, 0.5);
}

@media screen and (min-width: 1000px), print {
    .modal-card, .modal-content {
        width: 960px;
    }
}

.modal-card-head.night-mode {
    background-color: var(--chrome-background);
}

.modal-card-title.night-mode {
    color: var(--chrome-color);
}

.modal-card-body.night-mode {
    color: var(--color);
    background-color: var(--background);
}

.modal-card-foot.night-mode {
    background-color: var(--chrome-background);
}

.title.night-mode {
    color: var(--color);
}

.delete.night-mode {
    background-color: var(--background);
}

.table td.is-dark, .table th.is-dark {
    border-color: var(--border-color);
}

strong {
    color: var(--color);
}

.jsgrid-nodata-row>.jsgrid-cell {
    background: var(--background) !important;
    color: var(--color);
}

.field.has-addons .control:last-child .input {
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
}

.inherit-font {
    font-size: inherit !important;
}