.widget-button-standard {
    background: var(--background);
    color: var(--color);
    border: 1px solid var(--border-color);
    border-radius: 4px;
    font-weight: normal;
    transition: all 0.2s ease-in-out;
    text-align: center;
    min-height: 17px;
    display: inline-block;
    padding: 3px;
    margin-left: 18px;
    margin-right: 18px;
    margin-top: 5px;
    margin-bottom: 5px;
    user-select: none;
    cursor: default;
}

.widget-button-standard:hover:active {
    color: var(--background);
    background: var(--color);
    box-shadow: 0px 0px 15px 3px var(--color);
}