.widget-checkbox-container {
    display: flex;
    margin-top: 2px;
}

.widget-checkbox-label {
    position: relative;
    left: 5px;
    top: -1px;
    user-select: none;
    cursor: default;
}

.widget-checkbox-original {
    opacity: 0;
}

.widget-checkbox-icon {
    display: flex;
    position: relative;
    width: 11px;
    height: 11px;
    border: 1px solid black;
    margin-top: 1px;
}

.widget-checkbox-original:checked+.widget-checkbox-icon {
    background: -webkit-linear-gradient(-45deg, transparent 0%, transparent 54%, black 54%, black 56%, transparent 56%, transparent 100%), -webkit-linear-gradient(45deg, transparent 0%, transparent 49%, black 49%, black 51%, transparent 51%, transparent 100%);
}