.widget-taskbar-container {
    position:absolute;
    bottom:0px;
    height:2.3em;
    right:0px;
    left:0px;
    background:lightgray;
    border-top:1px solid black;
    box-sizing: border-box;
}

.widget-taskbar-shortcuts {
    position: absolute;
    right: 0px;
    display:flex;
    height:2.0em;
}

.widget-taskbar-shortcut {
    flex:none;
    width:3.8em;
    border:1px solid transparent;
    padding:3px;
    padding-left:20px;
    padding-right: 20px;
    margin:3px;
    user-select: none;
    -webkit-user-drag: none;
    cursor:default;
    filter: invert(100%);    
}

.widget-taskbar-shortcut:hover:active {
    border:1px solid black;
}
