.widget-schedule-container {
    position: absolute;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
}

.widget-schedule-nav {
    position: absolute;
    text-decoration: none;
    display: inline-block;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    background-color: var(--background);
    color: var(--color);
    border: 2px solid var(--border-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.widget-schedule-nav:hover {
    background-color: var(--chrome-highlight-background);
    color: var(--chrome-highlight-color);
    border: 2px solid var(--border-color);
}

.widget-schedule-nav:hover:active {
    background-color: var(--chrome-highlight-background);
    color: var(--chrome-highlight-color);
    border: 2px solid var(--border-color);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.widget-schedule-previous {
    left: 30px;
    bottom: 20px;
}

.widget-schedule-next {
    right: 30px;
    bottom: 20px;
}

.widget-schedule-today {
    right: 100px;
    bottom: 20px;
    font-size: 70%;
}

.widget-schedule-grid {
    display: grid;
    background: var(--background);
    color: var(--color);
    position: absolute;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    margin: 10px;
    overflow: auto;
}

.widget-schedule-month-grid {
    display: grid;
    margin: 10px;
    overflow: auto;
}

.widget-schedule-week-grid {
    display: grid;
    grid-template-rows: repeat(auto-fill, 50px) [last-line];
    margin: 10px;
    overflow: auto;
}

.widget-schedule-year {
    grid-row: 1/1;
    background: var(--phase-one-background);
    text-align: center;
    border: 1px solid black;
    font-size: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 60px;
    margin-right: 60px;
    padding-left: 60px;
    padding-right: 60px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.widget-schedule-year.background {
    display: none;
}

.widget-schedule-month {
    grid-column: auto;
    grid-row: 2;
    background: var(--phase-two-background);
    text-align: center;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 3px 3px 3px;
    padding: 7px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

.widget-schedule-month.background {
    grid-row-start: 2;
    grid-row-end: last-line;
    background: var(--background);
    border: 1px solid black;
    border-radius: 25px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.widget-schedule-day {
    grid-row: 3;
    background: var(--phase-three-background);
    text-align: center;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 7px;
    margin: 3px 3px 0px 3px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

.widget-schedule-day.background {
    grid-row-start: 3;
    grid-row-end: last-line;
    background: var(--background);
    border: 1px solid black;
    border-radius: 25px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 3px;
}

.widget-schedule-day.today {
    background: var(--phase-three-border);
}

.widget-schedule-day.background.today {
    background: var(--alt-background);
}

.widget-schedule-weekday {
    grid-row: 4;
    background: var(--phase-four-background);
    color: var(--color);
    text-align: center;
    border-bottom: 1px solid black;
    padding: 7px;
    margin: 0px 4px 0px 4px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.widget-schedule-weekday.today {
    background: var(--phase-four-border);
}

.widget-schedule-event {
    background: var(--background);
    color: var(--color);
    text-align: center;
    border-bottom: 1px solid black;
    margin-left: 4px;
    margin-right: 4px;
    padding: 7px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: flex;
    justify-content: center;
    align-items: center;
}

.widget-schedule-event:hover {
    background-color: var(--chrome-highlight-background);
    color: var(--chrome-highlight-color);
}

.widget-schedule-event:hover:active {
    background-color: var(--chrome-background);
    color: var(--chrome-color);
}