.widget-container-root {
    flex:1;
    background: white;
    overflow: auto;
    position: relative;
    display:block;
}

.widget-container-root.transparent {
    background:none;
}

.widget-container-root.night-mode {
    background:var(--background);
}

.widget-container-root.transparent.night-mode {
    background:none;
}
