.widget-icon-icon {
    min-width:70px;
    margin-left:10px;
    margin-right:0px;
    float:left;
    text-align: center;
}

.widget-icon-icon:hover:active {
    opacity:0.5;
}

.widget-icon-icon+.widget-icon-icon
{
    margin-left:20px;
}

.widget-icon-list+.widget-icon-list
{
    margin-left:0px;
}

.widget-icon-list {
    display:flex;
    align-items:stretch;
    flex-wrap: nowrap;
    min-width:50px;
    height: 28px;
    position:relative;
}

.widget-icon-image-icon {
    pointer-events:none;
    object-fit: none;
    display: block;
}

.widget-icon-image-list {
    margin:3px;
    flex:0;
    filter: invert(100%);
}

.widget-icon-label-icon {
    position: relative;
    font-family: "MS Sans Serif";
    font-size: 16px;
    user-select: none;
}

.widget-icon-label-list {
    font-family: "MS Sans Serif";
    margin:2px;
    font-size: 13px;
    user-select: none;
    white-space: nowrap;
}
