.widget-transform-container {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    display: flex;
    overflow: hidden;
    flex: 1;
    align-items: flex-end;
    justify-content: center;
}

.widget-transform-output {
    position: relative;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
    line-height: 2em;
    padding: 20px;
    direction: ltr;
    display: block;
    flex: 1;
    flex-direction: column;
    user-select: text;
    color: var(--color);
    background: var(--background);
    overflow-y: auto;
    overflow-x: hidden;
}

.widget-transform-output.hebrew {
    direction: rtl;
}

.widget-transform-layout {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
    line-height: 2em;
    direction: ltr;
    display: block;
    flex: 1;
    flex-direction: column;
    user-select: text;
    color: var(--color);
    overflow-y: auto;
    overflow-x: hidden;
    transform: translateZ(0);
}

.widget-transform-layout.hebrew {
    direction: rtl;
}

.widget-transform-page {
    position: relative;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    border-top: 1px solid var(--color);
    margin: 0;
}

.widget-transform-page-container {
    display: flex;
    box-sizing: border-box;
    margin: 0;
    padding-left: 3em;
    padding-right: 3em;
    padding-bottom: 5em;
    width: 100%;
    height: 100%;
}

.widget-transform-page-content {
    position: relative;
    text-align: justify;
    column-gap: 4em;
    column-fill: balance;
    width: 100%;
    height: 100%;
}

.widget-transform-page-header {
    height: 60px;
}

.widget-transform-page-header.pipVideo {
    height: 160px;
}

.widget-transform-page-number {
    position: absolute;
    width: 10%;
    height: 30px;
    left: 45%;
    top: 10px;
    text-align: center;
}

.widget-transform-page-number:after {
    position: absolute;
    content: attr(shortPageNumberText);
    text-align: center;
    top: 0px;
    left: 0%;
    width: 100%;
    height: 20px;
    color: var(--color);
}

.widget-transform-page-number:hover:after {
    font-size: 150%;
    font-weight: bold;
    content: attr(longPageNumberText);
    border-radius: 10px;
    height: 1.3em;
}

.widget-transform-page-number:hover.night-mode:hover:after {
    color: white;
    background-color: #36383a;
}

.widget-transform-separator {
    position: absolute;
    left: 40%;
    right: 40%;
    bottom: 4em;
    height: 5px;
    background: repeating-linear-gradient( -55deg, darkgray, darkgray 10px, lightgray 10px, lightgray 20px);
}

.widget-transform-separator.last {
    background: var(--color);
}

.widget-transform-widget {
    min-height: 3em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 1.5em;
    padding-right: 1.5em;
    margin: 0;
    transition: background-color 1s, color 1s;
    border-radius: 10px;
}

.widget-transform-widget span.highlight {
    text-shadow: 0 0 15px #eec351;
}

.widget-transform-widget.hebrew {
    direction: rtl;
}

.widget-transform-widget.kab-term-hover.night-mode:hover {
    color: white;
    background-color: #36383a;
}

.widget-transform-widget.kab-term-hover.night-mode.mark {
    color: white;
    background-color: #36383a;
}

.widget-transform-widget.kab-term-highlight:hover {
    text-shadow: 0 0 5px rgba(81, 203, 238, 1), 0 0 10px #0000FF;
}

p.widget-transform-widget {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

p.widget-transform-widget:after {
    color: var(--disabled-color);
    position: absolute;
    content: attr(index);
    font-size: 75%;
    margin: 0.5em;
}

h4.widget-transform-widget {
    text-align: center;
    width: 100%;
}

.widget-transform-widget:before {
    content: "\25B6\00a0";
    margin-left: -1.0em;
    display: inline-block;
    opacity: 0;
}

.widget-transform-widget.hebrew:before {
    content: "\25C0\00a0";
    margin-left: 1.0em;
}

.widget-transform-widget.mark span.highlight:before {
    opacity: 1;
}

.widget-transform-level {
    padding: 10px;
    border: 1px solid lightgray;
    border-radius: 10px 10px 10px 10px;
    user-select: all;
}

.widget-transform-iconbar {
    text-align: center;
    background-color: #555;
    overflow-x: auto;
    overflow-y: hidden;
    height: 3em;
    opacity: 0.25;
    border-radius: 10px 10px 0px 0px;
    display: flex;
    align-items: stretch;
    justify-content: stretch;
    transition: all 0.3s ease;
    z-index: 500;
}

.widget-transform-iconbar:hover {
    opacity: 1;
}

.widget-transform-iconbar.fullscreen {
    opacity: 0;
}

.widget-transform-iconbar.fullscreen:hover {
    opacity: 1;
}

.widget-transform-iconbar a {
    flex: 1;
    padding: 0.5em;
    text-align: center;
    transition: all 0.3s ease;
    color: white;
    font-size: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 1.5em;
}

.widget-transform-iconbar a:hover {
    background-color: #020d17;
}

.widget-transform-iconbar a.active:hover {
    background-color: #196a19;
}

.widget-transform-iconbar a.active {
    background-color: #4CAF50;
}

.widget-transform-iconbar a.disabled {
    color: darkgray;
    background-color: #555;
}

.widget-transform-iconbar a.disabled:hover {
    color: lightgray;
    background-color: darkgray;
}

.widget-transform-iconbar-fullscreen.fullscreen {
    background-color: #4CAF50;
}

.widget-transform-iconbar-fullscreen.fullscreen:hover {
    background-color: #196a19;
}

.widget-transform-iconbar-stop {
    color: darkgray !important;
    background-color: #555 !important;
}

.widget-transform-iconbar-stop:hover {
    color: lightgray !important;
    background-color: darkgray !important;
}

.widget-transform-iconbar-stop.play {
    color: white !important;
    background-color: #555 !important;
}

.widget-transform-iconbar-stop.play:hover {
    color: white !important;
    background-color: #020d17 !important;
}

.widget-transform-iconbar-pause {
    display: none !important;
}

.widget-transform-iconbar-pause.play {
    display: flex !important;
    color: white !important;
    background-color: #555 !important;
}

.widget-transform-iconbar-pause.play:hover {
    color: white !important;
    background-color: #020d17 !important;
}

.widget-transform-iconbar-pause.play.pause {
    display: none !important;
}

.widget-transform-iconbar-play.play {
    display: none !important;
}

.widget-transform-iconbar-play.play.pause {
    display: flex !important;
    color: white !important;
    background-color: #555 !important;
}

.widget-transform-iconbar-play.play.pause:hover {
    color: white !important;
    background-color: #020d17 !important;
}

.widget-transform-iconbar-fullscreen {
    border-right: 2px solid darkgray;
}

.widget-transform-iconbar-scrollToBottom {
    border-right: 2px solid darkgray;
}

.widget-transform-popup {
    transition: opacity 0.5s linear;
    display: flex;
    visibility: hidden;
    opacity: 0.0;
    z-index: 2000;
}

.widget-transform-popup.show {
    visibility: visible;
    opacity: 1.0;
}

.widget-transform-glow {
    border-radius: 10px;
}

.widget-transform-glow.night-mode {
    box-shadow: inset 0 0 50px #fff, /* inner white */
    inset 20px 0 80px #f0f, /* inner left magenta short */
    inset -20px 0 80px #0ff, /* inner right cyan short */
    inset 20px 0 300px #f0f, /* inner left magenta broad */
    inset -20px 0 300px #0ff, /* inner right cyan broad */
    0 0 50px #fff, /* outer white */
    -10px 0 80px #f0f, /* outer left magenta */
    10px 0 80px #0ff;
    /* outer right cyan */
}

.widget-transform-level-item {
    padding: 10px;
    justify-content: flex-start;
    flex-grow: 0 !important;
}

.widget-transform-level-item p.click:hover {
    text-shadow: 0 0 25px rgba(81, 203, 238, 1), 0 0 10px #0000FF;
}

.widget-transform-associated {
    line-height: 2em;
    color: var(--color);
}