.widget-embed-iframe {
    position: relative;
    border: none;
    overflow: hidden;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: block;
    pointer-events: none;
}

.widget-embed-iframe.focus.transition {
    pointer-events: none;
}

.widget-embed-iframe.focus {
    pointer-events: auto;
}