.widget-taskbar-container {
    position: absolute;
    bottom: 0px;
    height: 2.3em;
    right: 0px;
    left: 0px;
    background: lightgray;
    border-top: 1px solid black;
    box-sizing: border-box;
}

.widget-taskbar-tasks {
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
    position: absolute;
    left: 0em;
    right: 13.5em;
    top: 0em;
    transition: right 0.5s linear;
}

.widget-taskbar-tasks.collapse {
    right: 4.5em;
}

.widget-taskbar-task {
    display: flex;
    flex: 0;
    flex-wrap: nowrap;
}

.widget-taskbar-shortcuts {
    position: absolute;
    right: 0em;
    display: flex;
    flex-wrap: no-wrap;
    overflow: hidden;
    flex-direction: row-reverse;
    height: 2em;
    width: 13.5em;
    flex: 0;
    transition: width 0.5s linear, order 0.5s linear;
    border-left: 3px solid #3c3f42;
}

.widget-taskbar-shortcuts.collapse {
    width: 4.5em;
}

.widget-taskbar-shortcuts :nth-of-type(1) {
    order: -2;
}

.widget-taskbar-shortcuts.collapse :nth-of-type(6) {
    order: -1;
}

.widget-taskbar-shortcut {
    flex: none;
    width: 2.0em;
    height: 1.8em;
    border: 1px solid transparent;
    padding: 0.2em;
    margin: 0.1em;
    user-select: none;
    -webkit-user-drag: none;
    cursor: default;
    filter: invert(100%);
    transition: order 0.5s linear;
}

.widget-taskbar-shortcut.on {
    border: 1px solid black;
}

.widget-taskbar-shortcut:hover:active {
    box-shadow: inset 0 0 50px #fff, /* inner white */
    inset 20px 0 80px #f0f, /* inner left magenta short */
    inset -20px 0 80px #0ff, /* inner right cyan short */
    inset 20px 0 300px #f0f, /* inner left magenta broad */
    inset -20px 0 300px #0ff, /* inner right cyan broad */
    0 0 50px #fff, /* outer white */
    -10px 0 80px #f0f, /* outer left magenta */
    10px 0 80px #0ff;
    /* outer right cyan */
}