.widget-progress-container {
    overflow: hidden;
    height: 100%;
    position: relative;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
    border-radius: 5px 5px 5px 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--border-color);
}

.widget-progress-background {
    position: absolute;
    top: 2px;
    bottom: 2px;
    left: 2px;
    right: 2px;
    user-select: none;
    pointer-events: none;
    background-color: var(--background);
}

.widget-progress-bar {
    position: absolute;
    top: 3px;
    bottom: 3px;
    left: 3px;
    right: 3px;
    user-select: none;
    pointer-events: none;
    background-image: linear-gradient( to right, green, #3CB371);
    opacity: 0.5;
    z-index: 3;
}

.widget-progress-handle {
    position: absolute;
    width: 10px;
    height: 100%;
    user-select: none;
    pointer-events: none;
    background-color: lightgray;
    border: 1px solid darkgray;
    z-index: 4;
    opacity: 0.25;
}

.widget-progress-label {
    text-align: center;
    font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
    color: black;
    user-select: none;
    pointer-events: none;
    z-index: 1;
    color: var(--color);
    text-shadow: 0 0 3px var(--background);
    z-index: 5;
}

.widget-progress-percent {
    position: absolute;
    margin-left: 3px;
    margin-right: 3px;
    right: 3px;
    text-align: right;
    font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
    color: var(--color);
    user-select: none;
    pointer-events: none;
    z-index: 1;
}