.widget-input-normal {
    margin-left: 18px;
    padding: 3px;
    margin-top: 5px;
    margin-bottom: 5px;
    border: 1px solid #0f2777;
    border-radius: 5px 5px 5px 5px;
    box-sizing: border-box;
    font-size: inherit;
}

.widget-input-normal:read-only {
    background-color: #0f2777;
    color: white;
}