.widget-desktop-container {
    position: absolute;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    overflow: hidden;
    cursor:default;
    user-select: none;
    user-drag: none;
    touch-action: none;
}

.widget-desktop-background {
    position: absolute;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    overflow: hidden;
    cursor:default;
    user-select: none;
    user-drag: none;
    touch-action: none;    
    background:lightblue;
}

.widget-desktop-workspace {
    left:0px;
    top:0px;
    right:0px;
    bottom:2.3em;
    position:absolute;
    overflow:hidden;
}

body {
    overflow: hidden;
}
