.widget-button-standard {
    border-radius: 1px;
    background-color: #c0c0c0;
    border-left: 2px solid #ffffff;
    border-top: 2px solid #ffffff;
    border-right: 2px solid #808080;
    border-bottom: 2px solid #808080;
    box-shadow: 0 0 0 1px black;
    font-size: 14px;
    text-align: center;
    min-width: 64px;
    min-height: 17px;
    display: inline-block;
    margin-left: 18px;
    margin-right: 18px;
    margin-top: 2px;
    margin-bottom: 2px;
    user-select: none;
    cursor: default;
}

.widget-button-standard:hover:active {
    border-left: 2px solid #808080;
    border-top: 2px solid #808080;
    border-right: 2px solid #ffffff;
    border-bottom: 2px solid #ffffff;
}