.widget-player-audio-widget {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.widget-player-video-widget {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.widget-player-controls-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin: 10px;
    flex: 0 0 auto;
    width: 90%;
}

.widget-player-controls-button {
    border: 1px solid transparent;
    text-align: center;
    border: 1px solid transparent;
    background-repeat: no-repeat;
    background-position: center center;
    border-radius: 5px 5px 5px 5px;
}

.widget-player-controls-button.small {
    flex: 0 0 32px;
    width: 32px;
    height: 32px;
    margin: 4px;
    background-size: 32px 32px;
}

.widget-player-controls-button.normal {
    flex: 0 0 64px;
    width: 64px;
    height: 64px;
    margin: 4px;
    background-size: 64px 64px;
}

.widget-player-controls-button.large {
    flex: 0 0 128px;
    width: 128px;
    height: 128px;
    margin: 4px;
    background-size: 128px 128px;
}

.widget-player-controls-button.night-mode {
    filter: invert(var(--filter-percentage));
}

.widget-player-controls-button:hover:active {
    border: 1px solid black;
    background-color: darkgray;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}

.widget-player-controls-play {
    background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjwhRE9DVFlQRSBzdmcgIFBVQkxJQyAnLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4nICAnaHR0cDovL3d3dy53My5vcmcvR3JhcGhpY3MvU1ZHLzEuMS9EVEQvc3ZnMTEuZHRkJz48c3ZnIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDUxMiA1MTIiIGhlaWdodD0iNTEycHgiIGlkPSJMYXllcl8xIiB2ZXJzaW9uPSIxLjEiIHZpZXdCb3g9IjAgMCA1MTIgNTEyIiB3aWR0aD0iNTEycHgiIHhtbDpzcGFjZT0icHJlc2VydmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPjxwYXRoIGQ9Ik0yNTYsNTEyQzExNC42MjUsNTEyLDAsMzk3LjM3NSwwLDI1NkMwLDExNC42MDksMTE0LjYyNSwwLDI1NiwwczI1NiwxMTQuNjA5LDI1NiwyNTZDNTEyLDM5Ny4zNzUsMzk3LjM3NSw1MTIsMjU2LDUxMnogICBNMjU2LDY0QzE0OS45NjksNjQsNjQsMTQ5Ljk2OSw2NCwyNTZzODUuOTY5LDE5MiwxOTIsMTkyYzEwNi4wMywwLDE5Mi04NS45NjksMTkyLTE5MlMzNjIuMDMxLDY0LDI1Niw2NHogTTE5MiwxNjBsMTYwLDk2bC0xNjAsOTYgIFYxNjB6Ii8+PC9zdmc+');
}

.widget-player-controls-play.pause {
    background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjwhRE9DVFlQRSBzdmcgIFBVQkxJQyAnLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4nICAnaHR0cDovL3d3dy53My5vcmcvR3JhcGhpY3MvU1ZHLzEuMS9EVEQvc3ZnMTEuZHRkJz48c3ZnIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDUxMiA1MTIiIGhlaWdodD0iNTEycHgiIGlkPSJMYXllcl8xIiB2ZXJzaW9uPSIxLjEiIHZpZXdCb3g9IjAgMCA1MTIgNTEyIiB3aWR0aD0iNTEycHgiIHhtbDpzcGFjZT0icHJlc2VydmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPjxnPjxnPjxwYXRoIGQ9Ik0yNTYsMEMxMTQuNjI1LDAsMCwxMTQuNjA5LDAsMjU2YzAsMTQxLjM3NSwxMTQuNjI1LDI1NiwyNTYsMjU2czI1Ni0xMTQuNjI1LDI1Ni0yNTZDNTEyLDExNC42MDksMzk3LjM3NSwwLDI1NiwweiAgICAgTTI1Niw0NDhjLTEwNi4wMzEsMC0xOTItODUuOTY5LTE5Mi0xOTJTMTQ5Ljk2OSw2NCwyNTYsNjRjMTA2LjAzLDAsMTkyLDg1Ljk2OSwxOTIsMTkyUzM2Mi4wMzEsNDQ4LDI1Niw0NDh6IE0xNjAsMzIwaDY0VjE5MiAgICBoLTY0VjMyMHogTTI4OCwzMjBoNjRWMTkyaC02NFYzMjB6Ii8+PC9nPjwvZz48L3N2Zz4=');
}

.widget-player-controls-stop {
    background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjwhRE9DVFlQRSBzdmcgIFBVQkxJQyAnLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4nICAnaHR0cDovL3d3dy53My5vcmcvR3JhcGhpY3MvU1ZHLzEuMS9EVEQvc3ZnMTEuZHRkJz48c3ZnIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDUxMiA1MTIiIGhlaWdodD0iNTEycHgiIGlkPSJMYXllcl8xIiB2ZXJzaW9uPSIxLjEiIHZpZXdCb3g9IjAgMCA1MTIgNTEyIiB3aWR0aD0iNTEycHgiIHhtbDpzcGFjZT0icHJlc2VydmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPjxwYXRoIGQ9Ik0yNTYsNTEyQzExNC42MjUsNTEyLDAsMzk3LjM3NSwwLDI1NkMwLDExNC42MDksMTE0LjYyNSwwLDI1NiwwczI1NiwxMTQuNjA5LDI1NiwyNTZDNTEyLDM5Ny4zNzUsMzk3LjM3NSw1MTIsMjU2LDUxMnogICBNMjU2LDY0QzE0OS45NjksNjQsNjQsMTQ5Ljk2OSw2NCwyNTZzODUuOTY5LDE5MiwxOTIsMTkyYzEwNi4wMywwLDE5Mi04NS45NjksMTkyLTE5MlMzNjIuMDMxLDY0LDI1Niw2NHogTTE5MiwxOTJoMTI4djEyOEgxOTIgIFYxOTJ6Ii8+PC9zdmc+');
}

.widget-player-controls-rewind {
    background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjwhRE9DVFlQRSBzdmcgIFBVQkxJQyAnLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4nICAnaHR0cDovL3d3dy53My5vcmcvR3JhcGhpY3MvU1ZHLzEuMS9EVEQvc3ZnMTEuZHRkJz48c3ZnIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDUxMiA1MTIiIGhlaWdodD0iNTEycHgiIGlkPSJMYXllcl8xIiB2ZXJzaW9uPSIxLjEiIHZpZXdCb3g9IjAgMCA1MTIgNTEyIiB3aWR0aD0iNTEycHgiIHhtbDpzcGFjZT0icHJlc2VydmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPjxnPjxnPjxwYXRoIGQ9Ik0yNTYsMEMxMTQuNjI1LDAsMCwxMTQuNjI1LDAsMjU2YzAsMTQxLjM5MSwxMTQuNjI1LDI1NiwyNTYsMjU2czI1Ni0xMTQuNjA5LDI1Ni0yNTZDNTEyLDExNC42MjUsMzk3LjM3NSwwLDI1NiwweiAgICAgTTI1Niw0NDhjLTEwNi4wMzEsMC0xOTItODUuOTY5LTE5Mi0xOTJTMTQ5Ljk2OSw2NCwyNTYsNjRjMTA2LjAzLDAsMTkyLDg1Ljk2OSwxOTIsMTkyUzM2Mi4wMzEsNDQ4LDI1Niw0NDh6Ii8+PC9nPjwvZz48cG9seWdvbiBwb2ludHM9IjEyOCwyNTYgMjU2LDM1MiAyNTYsMjgwIDM1MiwzNTIgMzUyLDE2MCAyNTYsMjMyIDI1NiwxNjAgIi8+PC9zdmc+');
}

.widget-player-controls-forward {
    background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjwhRE9DVFlQRSBzdmcgIFBVQkxJQyAnLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4nICAnaHR0cDovL3d3dy53My5vcmcvR3JhcGhpY3MvU1ZHLzEuMS9EVEQvc3ZnMTEuZHRkJz48c3ZnIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDUxMiA1MTIiIGhlaWdodD0iNTEycHgiIGlkPSJMYXllcl8xIiB2ZXJzaW9uPSIxLjEiIHZpZXdCb3g9IjAgMCA1MTIgNTEyIiB3aWR0aD0iNTEycHgiIHhtbDpzcGFjZT0icHJlc2VydmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPjxnPjxnPjxwYXRoIGQ9Ik0yNTYsMEMxMTQuNjI1LDAsMCwxMTQuNjA5LDAsMjU2YzAsMTQxLjM3NSwxMTQuNjI1LDI1NiwyNTYsMjU2czI1Ni0xMTQuNjI1LDI1Ni0yNTZDNTEyLDExNC42MDksMzk3LjM3NSwwLDI1NiwweiAgICAgTTI1Niw0NDhjLTEwNi4wMzEsMC0xOTItODUuOTY5LTE5Mi0xOTJTMTQ5Ljk2OSw2NCwyNTYsNjRjMTA2LjAzLDAsMTkyLDg1Ljk2OSwxOTIsMTkyUzM2Mi4wMzEsNDQ4LDI1Niw0NDh6Ii8+PC9nPjwvZz48cG9seWdvbiBwb2ludHM9IjM4NCwyNTYgMjU2LDE2MCAyNTYsMjMyIDE2MCwxNjAgMTYwLDM1MiAyNTYsMjgwIDI1NiwzNTIgIi8+PC9zdmc+');
}

.widget-player-controls-download {
    background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjwhRE9DVFlQRSBzdmcgIFBVQkxJQyAnLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4nICAnaHR0cDovL3d3dy53My5vcmcvR3JhcGhpY3MvU1ZHLzEuMS9EVEQvc3ZnMTEuZHRkJz48c3ZnIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDUxMiA1MTIiIGhlaWdodD0iNTEycHgiIGlkPSJMYXllcl8xIiB2ZXJzaW9uPSIxLjEiIHZpZXdCb3g9IjAgMCA1MTIgNTEyIiB3aWR0aD0iNTEycHgiIHhtbDpzcGFjZT0icHJlc2VydmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPjxwYXRoIGQ9Ik00ODAsMjI0Yy0xNy42ODgsMC0zMiwxNC4zMjgtMzIsMzJ2MTkySDY0VjI1NmMwLTE3LjY3Mi0xNC4zMTItMzItMzItMzJjLTE3LjY4OCwwLTMyLDE0LjMyOC0zMiwzMnYyMjQgIGMwLDE3LjY3MiwxNC4zMTIsMzIsMzIsMzJoNDQ4YzE3LjY4OCwwLDMyLTE0LjMyOCwzMi0zMlYyNTZDNTEyLDIzOC4zMjgsNDk3LjY4OCwyMjQsNDgwLDIyNHoiLz48cGF0aCBkPSJNMjg4LDIyNFYyOC4wOTFDMjg4LDEyLjU3OCwyNzMuNjg4LDAsMjU2LDBjLTE3LjY4OCwwLTMyLDEyLjU3OC0zMiwyOC4wOTFWMjI0aC05NmwxMjgsMTI4bDEyOC0xMjhIMjg4eiIvPjwvc3ZnPg==');
}

.widget-player-controls-fullscreen {
    background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjwhRE9DVFlQRSBzdmcgIFBVQkxJQyAnLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4nICAnaHR0cDovL3d3dy53My5vcmcvR3JhcGhpY3MvU1ZHLzEuMS9EVEQvc3ZnMTEuZHRkJz48c3ZnIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDUxMiA1MTIiIGhlaWdodD0iNTEycHgiIGlkPSJMYXllcl8xIiB2ZXJzaW9uPSIxLjEiIHZpZXdCb3g9IjAgMCA1MTIgNTEyIiB3aWR0aD0iNTEycHgiIHhtbDpzcGFjZT0icHJlc2VydmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPjxwYXRoIGQ9Ik00ODAsMTYwbC00MS4wOTUtNDEuMDc4bC0xMDUuMjgsMTA1LjI2NmwtNDUuODEyLTQ1LjgxMkwzOTMuMDk0LDczLjA5NEwzNTIsMzJjMC0xNy42NzIsMTQuMzEyLTMyLDMyLTMyaDk2ICBjMTcuNjg4LDAsMzIsMTQuMzI4LDMyLDMydjk2QzUxMiwxNDUuNjg4LDQ5Ny42ODgsMTYwLDQ4MCwxNjB6IE0xNjAsNDgwYzAsMTcuNjg4LTE0LjMxMiwzMi0zMiwzMkgzMmMtMTcuNjg4LDAtMzItMTQuMzEyLTMyLTMyICB2LTk2YzAtMTcuNjg4LDE0LjMxMi0zMiwzMi0zMmw0MS4wOTQsNDEuMDk0bDEwNS4yODEtMTA1LjI4MWw0NS44MTIsNDUuODEyTDExOC45MDYsNDM4LjkzOEwxNjAsNDgweiIvPjwvc3ZnPg==');
}

.widget-player-controls-timestamp {
    background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjwhRE9DVFlQRSBzdmcgIFBVQkxJQyAnLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4nICAnaHR0cDovL3d3dy53My5vcmcvR3JhcGhpY3MvU1ZHLzEuMS9EVEQvc3ZnMTEuZHRkJz48c3ZnIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDUxMiA1MTIiIGhlaWdodD0iNTEycHgiIGlkPSJMYXllcl8xIiB2ZXJzaW9uPSIxLjEiIHZpZXdCb3g9IjAgMCA1MTIgNTEyIiB3aWR0aD0iNTEycHgiIHhtbDpzcGFjZT0icHJlc2VydmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPjxwb2x5Z29uIHBvaW50cz0iMjg4LDIyNCAyODgsMTI4IDIyNCwxMjggMjI0LDI4OCAzNTIsMjg4IDM1MiwyMjQgIi8+PHBhdGggZD0iTTI1NiwwQzExNC42MjUsMCwwLDExNC42MjUsMCwyNTZzMTE0LjYyNSwyNTYsMjU2LDI1NnMyNTYtMTE0LjYyNSwyNTYtMjU2UzM5Ny4zNzUsMCwyNTYsMHogTTI1Niw0NDggIGMtMTA2LjAzMSwwLTE5Mi04NS45NjktMTkyLTE5MlMxNDkuOTY5LDY0LDI1Niw2NGMxMDYuMDMsMCwxOTIsODUuOTY5LDE5MiwxOTJTMzYyLjAzMSw0NDgsMjU2LDQ0OHoiLz48L3N2Zz4=');
}

.widget-player-controls-speed-down {
    background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjwhRE9DVFlQRSBzdmcgIFBVQkxJQyAnLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4nICAnaHR0cDovL3d3dy53My5vcmcvR3JhcGhpY3MvU1ZHLzEuMS9EVEQvc3ZnMTEuZHRkJz48c3ZnIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDUxMiA1MTIiIGhlaWdodD0iNTEycHgiIGlkPSJMYXllcl8xIiB2ZXJzaW9uPSIxLjEiIHZpZXdCb3g9IjAgMCA1MTIgNTEyIiB3aWR0aD0iNTEycHgiIHhtbDpzcGFjZT0icHJlc2VydmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPjxnPjxnPjxwYXRoIGQ9Ik0yNTYsMEMxMTQuNjI1LDAsMCwxMTQuNjI1LDAsMjU2YzAsMTQxLjM5MSwxMTQuNjI1LDI1NiwyNTYsMjU2YzE0MS4zOTEsMCwyNTYtMTE0LjYwOSwyNTYtMjU2ICAgIEM1MTIsMTE0LjYyNSwzOTcuMzkxLDAsMjU2LDB6IE0yNTYsNDQ4Yy0xMDYuMDMxLDAtMTkyLTg1Ljk2OS0xOTItMTkyUzE0OS45NjksNjQsMjU2LDY0YzEwNi4wNDcsMCwxOTIsODUuOTY5LDE5MiwxOTIgICAgUzM2Mi4wNDcsNDQ4LDI1Niw0NDh6IE0xMjgsMjg4aDI1NnYtNjRIMTI4VjI4OHoiLz48L2c+PC9nPjwvc3ZnPg==');
}

.widget-player-controls-speed-up {
    background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjwhRE9DVFlQRSBzdmcgIFBVQkxJQyAnLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4nICAnaHR0cDovL3d3dy53My5vcmcvR3JhcGhpY3MvU1ZHLzEuMS9EVEQvc3ZnMTEuZHRkJz48c3ZnIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDUxMiA1MTIiIGhlaWdodD0iNTEycHgiIGlkPSJMYXllcl8xIiB2ZXJzaW9uPSIxLjEiIHZpZXdCb3g9IjAgMCA1MTIgNTEyIiB3aWR0aD0iNTEycHgiIHhtbDpzcGFjZT0icHJlc2VydmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPjxwYXRoIGQ9Ik0yNTYsNTEyQzExNC42MjUsNTEyLDAsMzk3LjM5MSwwLDI1NkMwLDExNC42MDksMTE0LjYyNSwwLDI1NiwwYzE0MS4zOTEsMCwyNTYsMTE0LjYwOSwyNTYsMjU2ICBDNTEyLDM5Ny4zOTEsMzk3LjM5MSw1MTIsMjU2LDUxMnogTTI1Niw2NEMxNDkuOTY5LDY0LDY0LDE0OS45NjksNjQsMjU2czg1Ljk2OSwxOTIsMTkyLDE5MmMxMDYuMDQ3LDAsMTkyLTg1Ljk2OSwxOTItMTkyICBTMzYyLjA0Nyw2NCwyNTYsNjR6IE0yODgsMzg0aC02NHYtOTZoLTk2di02NGg5NnYtOTZoNjR2OTZoOTZ2NjRoLTk2VjM4NHoiLz48L3N2Zz4=');
}

.widget-player-controls-progress {
    flex-basis: fill;
    background-color: white;
    border: 1px solid black;
    min-width: 200px;
    margin: 4px;
    margin-left: 4px;
    margin-right: 4px;
    border-radius: 5px 5px 5px 5px;
    width: 100%;
}

.widget-player-controls-progress.small {
    min-height: 32px;
}

.widget-player-controls-progress.normal {
    min-height: 64px;
}

.widget-player-controls-progress.large {
    min-height: 128px;
}