.widget-bar-container {
    position:absolute;
    bottom:0px;
    height:32px;
    right:0px;
    left:0px;
    background:lightgray;
    border-top:1px solid black;
    box-sizing: border-box;
}

.widget-bar-launcher {
    top:3px;
    right:7px;
    position:absolute;
    padding:3px;
}

.widget-bar-launcher:hover:active {
    background-color:#0f2777;
}
