.widget-container-root {
    flex: 1;
    background: var(--background);
    overflow: auto;
    position: relative;
    display: block;
}

.widget-container-root.transparent {
    background: none;
}