.widget-schedule-container {
    position: absolute;
    left:0px;
    top:0px;
    right:0px;
    bottom:0px;
}

.widget-schedule-nav {
    position: absolute;
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
    border-radius: 50%;
    background-color: var(--background);
    color: var(--color);
    border: 2px solid var(--border-color);
}

.widget-schedule-nav:hover {
    background-color: lightgray;
    color: var(--color);
    border: 2px solid var(--border-color);
}

.widget-schedule-nav:hover:active {
    background-color: var(--color);
    color: var(--background);
    border: 2px solid var(--border-color);
    box-shadow:
    1px 1px #53a7ea,
    2px 2px #53a7ea,
    3px 3px #53a7ea;
    transform: translateX(-3px);
}

.widget-schedule-previous {
    left:30px;
    bottom:30px;
}

.widget-schedule-next {
    right:30px;
    bottom:30px;
}

.widget-schedule-grid {
    display: grid;
    background: var(--background);
    color: var(--color);
    grid-template-rows: repeat(auto-fill, 60px) [last-line];
    position: absolute;
    left:0px;
    top:0px;
    right:0px;
    bottom:0px;
}

.widget-schedule-year {
    grid-row: 1/1;
    background: OliveDrab;
    text-align: center;
    border: 1px solid black;
    font-size: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    margin:3px;
}

.widget-schedule-year.background {
    grid-row-start:2;
    grid-row-end: last-line;
    background: red;
    border: 1px solid black;
    margin:3px;
}

.widget-schedule-month {
    grid-column: auto;
    grid-row: 2;
    background: green;
    text-align: center;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin:3px;
}

.widget-schedule-weekday {
    grid-row: 3;
    background: darkgreen;
    text-align: center;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin:3px;
}

.widget-schedule-day {
    grid-row: 4;
    background: var(--background);
    color: var(--color);
    text-align: center;
    border: 1px solid black;
    margin:3px;
}

.widget-schedule-day.today {
    background:yellow;
}

.widget-schedule-event {
    background: var(--background);
    color: var(--color);
    text-align: center;
    border: 1px solid black;
    margin:3px;
}