.widget-progress-container {
    border:1px solid black;
    overflow: hidden;
    height: 100%;
    position: relative;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
    background-color: #eee;
    border-radius: 2px;   
}

.widget-progress-bar {
    position: absolute;
    top:3px;
    bottom:3px;
    margin-left:3px;
    margin-right:3px;
    user-select: none;
    pointer-events: none;
    background-image:
    linear-gradient(
      to right, 
      green, #3CB371
    );
}

.widget-progress-label {
    position: absolute;
    top: 50%;
    text-align: center;
    left:0px;
    right:0px;
    font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
    font-size:16px;
    margin-top: -8px;
    color:black;
    user-select: none;
    pointer-events: none;
}
