.widget-transform-container {
    position:absolute;
    left:0px;
    right:0px;
    top:0px;
    bottom:0px;
    display:flex;
    overflow:hidden;
    flex:1;
}

.widget-transform-output {
    position:relative;
    left:0px;
    right:0px;
    top:0px;
    bottom:0px;
    font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
    line-height:2em;
    padding:20px;
    font-size:22px;
    direction: ltr;
    display:block;
    flex:1;
    flex-direction:column;
    user-select: all;
    color:black;
    background:white;
    overflow:auto;
    transform: translateZ(0);
}

.widget-transform-output.night-mode {
    color:white;
    background:var(--background);
}

.widget-transform-output.hebrew {
    direction: rtl;
}

.widget-transform-layout {
    position:absolute;
    left:0px;
    right:0px;
    top:0px;
    bottom:0px;
    font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
    line-height:2em;
    font-size:22px;
    direction: ltr;
    display:block;
    flex:1;
    flex-direction:column;
    user-select: text;
    color:black;
    background:white;
    overflow:auto;
}

.widget-transform-layout.night-mode {
    color:white;
    background:var(--background);
}

.widget-transform-layout.hebrew {
    direction: rtl;
}

.widget-transform-page {
    position:relative;
    display:flex;
    flex-direction:column;
    box-sizing:border-box;
    border-top:1px solid gray;
    margin:0;
    background: repeating-linear-gradient(
      45deg,
      #fefefe,
      #fefefe 10px,
      #fcfcfc 10px,
      #fcfcfc 20px
    );
    transform: translateZ(0);
}

.widget-transform-page.night-mode {
    background:var(--background);
}

.widget-transform-page-container {
    display:flex;
    box-sizing:border-box;
    margin:0;
    padding-left:3em;
    padding-right:3em;
    padding-bottom:5em;
}

.widget-transform-page-content {
    position:relative;
    text-align:justify;
    column-gap: 4em;
    column-fill:balance;
}

.widget-transform-page-content br {
    display:none;
}

.widget-transform-page-header {
    height:60px;
}

.widget-transform-page-header.pipVideo {
   height:160px;
}

.widget-transform-page-number{
    position: absolute;
    width:10%;
    height:30px;
    left:45%;
    top: 30px;
    text-align: center;
}

.widget-transform-page-number:after{
    position:absolute;
    color:gray;
    content:attr(shortPageNumberText);
    text-align:center;
    top:0px;
    left:0%;
    width:100%;
    height:20px;
}

.widget-transform-page-number:hover:after {
    font-weight: bold;
    filter: invert(100%);
    content:attr(longPageNumberText);
}

.widget-transform-page-number.night-mode:hover:after {
    filter: none;
    color:white;
}

.widget-transform-separator {
    position:absolute;
    left:40%;
    right:40%;
    bottom:30px;
    height:5px;
    background: gray;
    box-shadow: 5px 5px 5px lightgray;
}

.widget-transform-separator.night-mode {
    background: repeating-linear-gradient(
        -55deg,
        darkgray,
        darkgray 10px,
        lightgray 10px,
        lightgray 20px
      );
    box-shadow: none;
}

.widget-transform-separator.last {
    background: black;
}

.widget-transform-separator.last.night-mode {
    background: darkgray;
    box-shadow: none;
}

.widget-transform-widget {
    min-height:3em;
    padding:0;
    margin:0;
}

p.widget-transform-widget {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

h4.widget-transform-widget {
    text-align: center;
    width:100%;
}

.widget-transform-widget:before {
    content:"\25B6\00a0";
    margin-left: -1.0em;
    display: inline-block;
    opacity:0;
}

.widget-transform-widget.hebrew:before {
    content:"\25C0\00a0";
    margin-left: 1.0em;
    display: inline-block;
    opacity:0;
}

.widget-transform-widget:after {
    content:"\2606\00a0";
    display: inline-block;
    opacity:0;
    font-size: 75%;
}

.widget-transform-widget.mark:before {
    opacity:1;
}

.widget-transform-iconbar {
    position: absolute;
    bottom: 0%;
    left: 5%;
    width: 90%;
    background-color: #555;
    overflow-x: auto;
    height: 10%;
    padding:10px;
    z-index: 1000;
    opacity: 0.25;
    border-radius: 10px 10px 0px 0px;
    display:flex;
    align-items: center;
    justify-content: center;
}

.widget-transform-iconbar:hover {
    opacity: 1;
}

.widget-transform-iconbar.fullscreen {
    opacity:0;
}

.widget-transform-iconbar.fullscreen:hover {
    opacity: 1;
}

.widget-transform-iconbar a {
    flex:1;
    padding:4px;
    text-align: center;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    color: white;
    font-size: 5vmin;
}

.widget-transform-iconbar a:hover {
    background-color: #000;
}

.widget-transform-iconbar a.active:hover {
    background-color: #196a19;
}

.widget-transform-iconbar a.active {
    background-color: #4CAF50;
}

.widget-transform-iconbar a.disabled {
    color:darkgray;
    background-color: #555;
}

.widget-transform-iconbar a.disabled:hover {
    color:lightgray;
    background-color: darkgray;
}

.widget-transform-iconbar-fullscreen.fullscreen {
    background-color: #4CAF50;
}

.widget-transform-iconbar-fullscreen.fullscreen:hover {
    background-color: #196a19;
}

.widget-transform-iconbar-stop {
    color:darkgray !important;
    background-color: #555 !important;
}

.widget-transform-iconbar-stop:hover {
    color:lightgray !important;
    background-color: darkgray !important;
}

.widget-transform-iconbar-stop.play {
    color:white !important;
    background-color: #555 !important;
}

.widget-transform-iconbar-stop.play:hover {
    color:white !important;
    background-color: black !important;
}

.widget-transform-iconbar-pause {
    color:darkgray !important;
    background-color: #555 !important;
}

.widget-transform-iconbar-pause:hover {
    color:lightgray !important;
    background-color: darkgray !important;
}

.widget-transform-iconbar-pause.play {
    color:white !important;
    background-color: #555 !important;
}

.widget-transform-iconbar-pause.play:hover {
    color:white !important;
    background-color: black !important;
}

.widget-transform-iconbar-pause.play.pause {
    color:darkgray !important;
    background-color: #555 !important;
}

.widget-transform-iconbar-pause.play.pause:hover {
    color:lightgray !important;
    background-color: darkgray !important;
}

.widget-transform-iconbar-play.play {
    color:lightgray !important;
    background-color: #4CAF50 !important;
}

.widget-transform-iconbar-play.play:hover {
    color:lightgray !important;
    background-color: darkgray !important;
}

.widget-transform-iconbar-play.play.pause {
    color:white !important;
    background-color: #555 !important;
}

.widget-transform-iconbar-play.play.pause:hover {
    color:white !important;
    background-color: black !important;
}
