.glow-window-label {
    text-align: center;
    background-color: white;
    font-family: "MS Sans Serif";
    font-size: 16px;
    line-height:18px;
    flex:1;
    margin-left: auto;
    margin-right: auto;
    cursor: default;
    user-select: none;
    color:#0f2777;
    border:Solid 1px #0f2777;
    border-radius: 0px 0px 5px 5px;
    box-sizing: border-box;
    margin-top:-2px;
    height:20px;
}

.glow-window-label.focus {
    background-color: #0f2777;
    color:white;
    box-shadow: 0px 0px 15px 3px #0f2777;
}

.glow-window-label.child {
    display:none;
}

.glow-window-label.embed {
    border-radius: 5px 5px 0px 0px;
    border:none;
    box-shadow: none;
    margin-top:2px;
    font-weight:bold;
    background-color: white;
    color:black;
    font-size: 0.5em;
}

.glow-window-label.embed.focus {
    background-color: white;
    color:black;
}

.glow-window-border {
    border:Solid 1px #0f2777;
    background:white;
    border-radius: 15px;
    overflow:hidden;
    min-width:200px;
    min-height:200px;
}

.glow-window-border.maximize {
    border-radius: 0px;
    border:none;
}

.glow-window-border.focus {
    box-shadow: 0px 0px 15px 3px #0f2777;
}

.glow-window-border.minimize {
    display:none;
}

.glow-window-border.concealed {
    visibility:hidden;
}

.glow-window-border.embed {
    position:relative;
    float:right;
    margin-top:10px;
    margin-left:10px;
    border-radius:5px 5px 0px 0px;
    box-shadow: 0 3px 6px rgba(0,0,0,.5);
}

.glow-window-border.embed:hover {
    box-shadow: 0px 0px 15px 3px #0f2777;
}

.glow-window-border.embed::after {
    content: "";
    clear: both;
    display: table;
}

.glow-window-margin {
    position: absolute;
    left:2px;
    top:2px;
    right:2px;
    bottom:2px;
    display:flex;
    flex-direction:column;
    overflow:hidden;
    border:Solid 1px #0f2777;
    box-shadow: 0px 0px 15px 3px #0f2777;
    background:white;
    border-radius: 15px;
    margin:2px;
}

.glow-window-margin.maximize {
    position: absolute;
    left:-1px;
    top:-1px;
    right:-1px;
    bottom:-1px;
    border-radius: 0px;
    margin:0px;
}

.glow-window-margin.child.maximize {
    left:0px;
    top:0px;
    right:0px;
    bottom:0px;
    border:none;
    border-radius: 0px;
    margin:0px;
}

.glow-window-margin.embed {
    left:0px;
    top:0px;
    right:0px;
    bottom:0px;
    border:none;
    border-radius: 0px;
    box-shadow:none;
    margin:0px;
}

.glow-window-top-left {
    background:#0f2777;
}

.glow-window-top-right {
    background:#0f2777;
}

.glow-window-bottom-left {
    background:#0f2777;
}

.glow-window-bottom-right {
    background:#0f2777;
}

.glow-window-title {
    flex:none;
    display:flex;
    height:18px;
    border-bottom: none;
}

.glow-window-title.child {
    display:none;
}

.glow-window-close {
    flex:none;
    width:18px;
    height:18px;
    background-color: white;
}

.glow-window-close::after {
    border-color: #0f2777;
    border-style: solid;
    border-width: 2px 2px 0 0;
    content: '';
    display: inline-block;
    height: 3px;
    left: 7px;
    position: relative;
    vertical-align: top;
    width: 3px;
    top: 5px;
    transform: rotate(135deg);
}

.glow-window-close:hover:active {
    box-shadow: 0px 0px 15px 3px #0f2777;
    border-radius: 15px;
}

.aglow-window-close.embed {
    display:none;
}

.glow-window-action {
    flex: none;
    width:18px;
    height:18px;
    margin-left: auto;
}

.glow-window-action:hover:active {
    box-shadow: 0px 0px 15px 3px #0f2777;
    border-radius: 15px;
}

.glow-window-action.embed {
    display:none;
}

.glow-window-minimize-arrow {
    background:#0f2777;
    position: relative;
    top:7px;
    left:7px;
    width:4px;
    height:4px;
    box-sizing: border-box;
    border-radius: 2px;
}

.glow-window-maximize-arrow {
    border-radius: 2px;
    position: relative;
    left:4px;
    top:5px;
    width:8px;
    height:8px;
    border:2px dotted #0f2777;
    box-sizing: border-box;
}

.glow-window-maximize-arrow.restore {
    border:2px solid #0f2777;
}

.glow-menu-horizontal {
    display:flex;
    flex:1;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    flex-direction:row;
}

.glow-menu-horizontal span {
    color: black;
    padding-top: 1px;
    padding-left: 4px;
    padding-right:4px;
    padding-bottom: 0px;
    font-family: "MS Sans Serif";
    font-size: 14px;
    text-align: left;
    border-right: 1px solid transparent;
    flex:0;
    cursor:default;
    user-select:none;
}

.glow-menu-horizontal span.select {
    background-color: #0f2777;
    color:white;
    border-right: 1px solid black;
}

.glow-menu-horizontal span[disabled="true"] {
    background-color: white;
    color:lightgray;
}

.glow-menu-vertical {
    border-radius: 0px 0px 15px 15px;
    position:absolute;
    min-width: 167px;
    border: 2px solid #0f2777;
    background-color: white;
    box-shadow: 1px 1px 0px 0px #808080;
    z-index: 100;
    overflow: hidden;    
}

.glow-menu-vertical span {
    background-color: white;
    color: black;
    height:18px;
    padding-left: 16px;
    padding-right: 16px;
    font-family: "MS Sans Serif";
    font-size: 14px;
    text-align: left;
    display: block;
    cursor:default;
    user-select:none;
}

.glow-menu-vertical span:hover {
    background-color: #0f2777;
    color:white;
}

.glow-menu-vertical span[disabled="true"] {
    background-color: white;
    color:lightgray;
}

.glow-menu-vertical span[disabled="true"]:hover {
    background-color: #0f2777;
    color:lightgray;
}

.glow-menu-vertical span.checked:after {
    content:'\2713';
    position:absolute;
    left:3px;
}

.glow-menu-vertical span.separator {
    margin-top: 3px;
    border-top: 3px solid white;
    box-shadow: 0px -1px 0px 0px black;
}

.glow-scrollbar-vertical-border {
    border-radius: 5px;
    background:white;
}

.glow-scrollbar-horizontal-border {
    border-radius: 5px;
    background:white;
}

.glow-scrollbar-corner {
    width:16px;
    height:16px;
    position:relative;
    flex:none;
    display:none;
    background:white;
    border:none;
}

.glow-scrollbar-corner.vertical-scroll.horizontal-scroll {
    display:flex;
}

.glow-scrollbar-button {
    background:white;
    color:#0f2777;
    border-radius:5px;
    border:1px solid #0f2777;
    flex:none;
    min-width:16px;
    min-height:16px;
}

.glow-scrollbar-button:hover:active {
    color:white;
    background:#0f2777;
}

.glow-scrollbar-vertical-before-arrow {
    position: absolute;
    border-style: solid;
    border-width: 3px 3px 0 0;
    height: 3px;
    left: 5px;
    vertical-align: top;
    width: 3px;
    top: 6px;
    transform: rotate(-45deg);
}

.glow-scrollbar-vertical-after-arrow {
    position: absolute;
    border-style: solid;
    border-width: 3px 3px 0 0;
    height: 3px;
    left: 5px;
    vertical-align: top;
    width: 3px;
    top: 5px;
    transform: rotate(135deg);
}

.glow-scrollbar-horizontal-before-arrow {
    position: absolute;
    border-style: solid;
    border-width: 3px 3px 0 0;
    height: 3px;
    left: 6px;
    vertical-align: top;
    width: 3px;
    top: 5px;
    line-height:100%;
    transform: rotate(-135deg);
}

.glow-scrollbar-horizontal-after-arrow {
    position: absolute;
    border-style: solid;
    border-width: 3px 3px 0 0;
    height: 3px;
    left: 4px;
    vertical-align: top;
    width: 3px;
    top: 5px;
    line-height:100%;
    transform: rotate(45deg);
}

.glow-scrollbar-horizontal-track {
    background:white;
}

.glow-scrollbar-vertical-track {
    background:white;
}

.glow-window-footer {
    flex:none;
    height:18px;
    display:none;
    color:black;
    font-family: "MS Sans Serif";
    font-size: 16px;
    line-height:18px;
    position: relative;
    padding-top:2px;
    padding-left: 10px;
    background:white;
    border-top: 1px solid #0f2777;
}

.glow-button-standard {
    color: #0f2777;
    background: white;
    border:1px solid #0f2777;
    box-shadow: 0px 0px 5px 1px #0f2777;
    border-radius: 4px;
    font-weight: normal;
    transition: all 0.2s ease-in-out;
    font-family: "MS Sans Serif";
    font-size: 14px;
    text-align:center;
    min-width:64px;
    min-height:17px;
    display:inline-block;
    margin-left:18px;
    margin-top:2px;
    margin-bottom:2px;
    user-select: none;
    cursor:default;
}

.glow-button-standard:hover:active {
    color: white;
    background: #0f2777;
    box-shadow: 0px 0px 15px 3px #0f2777;
}

.glow-checkbox-icon {
    display:flex;
    cursor: default;
    position: relative;
    width: 11px;
    height: 11px;
    top: 0;
    left: 0;
    background: #eee;
    border:1px solid #ddd;
}

.widget-checkbox-original:checked + .glow-checkbox-icon:after {
    content: '';
    position: absolute;
    width: 6px;
    height: 3px;
    background: transparent;
    top: 2px;
    left: 1px;
    border: 3px solid #0f2777;
    border-top: none;
    border-right: none;
    transform: rotate(-45deg);
}

.glow-radio-icon {
    display:flex;
    cursor: default;
    position: relative;
    width: 10px;
    height: 10px;
    top: 0;
    left: 0;
    background: #eee;
    border:2px solid #ddd;
    border-radius: 50%;
}

.widget-radio-original:checked + .glow-radio-icon {
    background       : #0f2777;
    background-image : linear-gradient(#0f2555,#0f2999);
}

.glow-list-border {
    border:1px solid #0f2777;
    border-radius: 15px;
    overflow:hidden;
    background:white;
    display:flex;
}

.glow-input-normal {
    margin-left:18px;
    font-family: "MS Sans Serif";
    font-size: 16px;
    text-align:left;
    margin-top:2px;
    margin-bottom:2px;
    border:1px solid #0f2777;
    border-radius: 5px 5px 5px 5px;
}

.glow-list-dropdown-selection {
    font-family: "MS Sans Serif";
    font-size: 16px;
    text-align:left;
    border:1px solid #0f2777;
    border-radius: 5px 5px 5px 5px;
    margin-top:2px;
    margin-bottom:2px;
    margin-right:-18px;
    position:relative;
    padding-left:6px;
    padding-right:6px;
    flex:1;
    height:19px;
    width:100%;
    user-select:none;
    cursor:default;
    overflow: hidden;
}

.glow-list-dropdown-selection:after:hover:active {
    box-shadow: 0px 0px 15px 3px #0f2777;
    border-radius: 15px;
}

.glow-list-dropdown-button {
    flex:none;
    width:18px;
    height:18px;
    background-color: white;
}

.glow-list-dropdown-button::after {
    border-color: #0f2777;
    border-style: solid;
    border-width: 0.10em 0.10em 0 0;
    content: '';
    display: inline-block;
    height: 0.20em;
    left: 0.35em;
    position: relative;
    vertical-align: top;
    width: 0.20em;
    top: 0.55em;
    transform: rotate(135deg);
}

.glow-list-dropdown-button-arrow {
    display:none;
}

.glow-list-dropdown-button-line {
    display:none;
}

.glow-list-popup-border {
    position:absolute;
    background:white;
    border:1px solid #0f2777;
    z-index:100;
    margin-top:-3px;
    box-sizing: border-box;
    display:flex;
    border-radius: 5px 5px 5px 5px;
    overflow: hidden;
}

.glow-list-item {
    background-color: white;
    color: black;
    height:18px;
    padding-left: 6px;
    padding-right: 6px;
    font-family: "MS Sans Serif";
    font-size: 14px;
    text-align: left;
    display: block;
    cursor:default;
    user-select:none;
}

.glow-list-item.selected {
    background-color: #0f2777;
    color:white;
}

.glow-list-item.separator {
    margin-top: 3px;
    border-top: 3px solid white;
    box-shadow: 0px -1px 0px 0px black;
}

.glow-window-icon.widget-icon-icon {
    display:none;
}

.glow-window-icon.widget-icon-icon.minimize {
    display:block;
}

.glow-window-icon.widget-icon-list {
    display:block;
    border:1px solid black;
}

.glow-window-icon.widget-icon-list.minimize {
    border:1px solid transparent;
}

.glow-window-icon.widget-icon-list.focus {
    box-shadow: 0px 0px 15px 3px #0f2777;
    background-color: #0f2777;
    color:white;
}