@font-face {
    font-family: "ShlomoStam";
    src: url("/packages/res/fonts/ShlomoStam.ttf");
}

.glow-window-label {
    text-align: center;
    background-color: black;
    line-height: 1.5em;
    flex: 1;
    margin-left: auto;
    margin-right: auto;
    cursor: auto;
    user-select: none;
    color: lightgray;
    border: Solid 1px black;
    border-radius: 0px 0px 5px 5px;
    box-sizing: border-box;
    margin-top: -2px;
    height: 1.5em;
}

.glow-window-label.maximize {
    user-select: text;
}

.glow-window-label.focus {
    background-color: var(--title-color);
    color: var(--chrome-highlight-color);
    box-shadow: 0px 0px 15px 3px var(--title-color);
    border: solid 1px var(--title-color);
}

.glow-window-label.child {
    display: none;
}

.glow-window-label.fullscreen {
    display: none;
}

.glow-window-label.embed {
    border-radius: 5px 5px 0px 0px;
    border: none;
    box-shadow: none;
    margin-top: 2px;
    font-weight: bold;
    background-color: white;
    color: black;
    font-size: 0.5em;
}

.glow-window-label.embed.focus {
    background-color: white;
    color: black;
}

.glow-window-border {
    border: Solid 1px #0f2777;
    border-radius: 15px;
    overflow: hidden;
    min-width: 200px;
    min-height: 200px;
    background-color: var(--background);
    background-size: 400% 400%;
    transition: opacity 1s, transform 1s;
    opacity: 1;
}

.glow-window-border.transparent {
    background: none;
}

.glow-window-border.see-through {
    opacity: 0.25;
}

.glow-window-border.focus.see-through {
    opacity: 0.75;
}

.glow-window-border.maximize {
    border-radius: 0px;
    border: none;
}

.glow-window-border.focus {
    box-shadow: 0px 0px 15px 3px #0f2777;
}

.glow-window-border.minimize {
    opacity: 0;
    transform: translate(0, 200%);
    z-index: 1000 !important;
}

.glow-window-border.concealed {
    visibility: hidden;
}

.glow-window-border.embed {
    border-radius: 5px 5px 0px 0px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, .5);
}

.glow-window-border.fullscreen {
    border: none;
    border-radius: 0px;
}

.glow-window-border.fullscreen.focus {
    box-shadow: none;
}

.glow-window-align {
    position: absolute;
    background: rgba(0, 0, 0, 0.25);
    border: 1px solid rgba(255, 255, 255, 0.5);
    display: none;
    z-index: 1000;
}

.glow-window-align.show {
    display: block;
}

.glow-window-align.left.show {
    left: 0px;
    top: 0px;
    width: 50%;
    height: 100%;
}

.glow-window-align.left.top.show {
    height: 50%;
    width: 50%;
}

.glow-window-align.left.bottom.show {
    top: 50%;
    height: 50%;
    width: 50%;
}

.glow-window-align.right.show {
    right: 0px;
    top: 0px;
    width: 50%;
    height: 100%;
}

.glow-window-align.right.top.show {
    left: 50%;
    height: 50%;
    width: 50%;
}

.glow-window-align.right.bottom.show {
    left: 50%;
    top: 50%;
    height: 50%;
    width: 50%;
}

.glow-window-align.top.show {
    left: 0px;
    top: 0px;
    width: 100%;
    height: 50%;
}

.glow-window-align.bottom.show {
    left: 0px;
    bottom: 0px;
    width: 100%;
    height: 50%;
}

.glow-window-margin {
    position: absolute;
    left: 2px;
    top: 2px;
    right: 2px;
    bottom: 2px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    border: Solid 1px #0f2777;
    box-shadow: 0px 0px 15px 3px #0f2777;
    border-radius: 15px;
    margin: 2px;
}

.glow-window-margin.transparent {
    background: none;
}

.glow-window-margin.maximize {
    position: absolute;
    left: -1px;
    top: -1px;
    right: -1px;
    bottom: -1px;
    border-radius: 0px;
    margin: 0px;
}

.glow-window-margin.child.maximize {
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    border: none;
    border-radius: 0px;
    margin: 0px;
}

.glow-window-margin.fullscreen {
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    border: none;
    border-radius: 0px;
    box-shadow: none;
    margin: 0px;
}

.glow-window-margin.embed {
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    border: none;
    border-radius: 0px;
    box-shadow: none;
    margin: 0px;
}

.glow-window-top-left {
    background: none;
    border: none;
}

.glow-window-top-right {
    background: none;
    border: none;
}

.glow-window-bottom-left {
    background: none;
    border: none;
}

.glow-window-bottom-right {
    background: none;
    border: none;
}

.glow-window-title {
    flex: none;
    display: flex;
    height: 1.5em;
    border-bottom: none;
    background: var(--chrome-background);
}

.glow-window-title.child {
    display: none;
}

.glow-window-title.fullscreen {
    display: none;
}

.glow-window-contextMenu {
    flex: none;
    width: 1.5em;
    background-color: var(--chrome-background);
    margin-left: auto;
    margin-right: auto;
}

.glow-window-contextMenu::after {
    border-color: var(--border-color);
    border-style: solid;
    border-width: 2px 2px 0 0;
    content: '';
    display: inline-block;
    height: 0.4em;
    left: 0.5em;
    position: relative;
    vertical-align: top;
    width: 0.4em;
    top: 0.5em;
    transform: rotate(135deg);
}

.glow-window-contextMenu:hover:active {
    box-shadow: 0px 0px 15px 3px var(--border-color);
    border-radius: 15px;
}

.glow-window-contextMenu.child::after {
    top: 8px;
}

.glow-window-contextMenu.fullscreen {
    display: none;
}

.glow-window-action {
    flex: none;
    width: 1.5em;
    height: 1.5em;
    margin-left: auto;
    margin-right: auto;
}

.glow-window-action:hover:active {
    box-shadow: 0px 0px 15px 3px var(--border-color);
    border-radius: 15px;
}

.glow-window-action.fullscreen {
    display: none;
}

.glow-window-action.embed {
    display: none;
}

.glow-window-close-icon {
    position: relative;
    width: 50%;
    height: 50%;
    left: 45%;
    top: 30%;
    box-sizing: border-box;
    border-radius: 2px;
}

.glow-window-close-icon:before, .glow-window-close-icon:after {
    position: absolute;
    content: ' ';
    height: 0.6em;
    width: 0.1em;
    background: var(--border-color);
}

.glow-window-close-icon:before {
    transform: rotate(45deg);
}

.glow-window-close-icon:after {
    transform: rotate(-45deg);
}

.glow-window-minimize-icon {
    background: var(--border-color);
    position: relative;
    top: 0.6em;
    left: 0.6em;
    width: 0.25em;
    height: 0.25em;
    box-sizing: border-box;
    border-radius: 2px;
}

.glow-window-maximize-icon {
    border-radius: 2px;
    position: relative;
    left: 0.5em;
    top: 0.5em;
    width: 0.5em;
    height: 0.5em;
    border: 2px dotted var(--border-color);
    box-sizing: border-box;
}

.glow-window-maximize-icon.restore {
    border: 2px solid var(--border-color);
}

.glow-menu-horizontal {
    display: flex;
    flex: 1;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--chrome-background);
    flex-direction: row;
}

.glow-menu-horizontal span {
    color: var(--chrome-color);
    padding-left: 0.3em;
    padding-right: 0.3em;
    padding-bottom: 0px;
    padding-top: 1px;
    text-align: left;
    flex: 0;
    cursor: default;
    user-select: none;
}

.glow-menu-horizontal span.mark {
    text-shadow: 2px 2px 8px green;
}

.glow-menu-horizontal span.selected {
    background-color: var(--chrome-highlight-background);
    color: var(--chrome-highlight-color);
}

.glow-menu-horizontal span[disabled="true"] {
    background-color: var(--chrome-background);
    color: var(--chrome-disabled-color);
}

.glow-menu-vertical {
    border-radius: 0px 0px 15px 15px;
    position: absolute;
    min-width: 167px;
    background-color: var(--chrome-background);
    border: 1px solid var(--chrome-border);
    z-index: 1000;
    overflow: hidden;
}

.glow-menu-vertical.menu-list {
    position: relative;
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 10em;
    z-index: 0;
    border-radius: 0;
    border: none;
}

.glow-menu-vertical table {
    width: 100%;
}

.glow-menu-vertical.menu-list.bottom-up {
    border-radius: 0;
}

.glow-menu-vertical.bottom-up {
    border-radius: 15px 15px 0px 0px;
}

.glow-menu-vertical th, .glow-menu-vertical td {
    padding-left: 10px;
    padding-right: 30px;
    text-align: left;
}

.glow-menu-vertical th:after {
    display: inline-block;
    content: "\2191";
    visibility: hidden;
}

.glow-menu-vertical th.asc:after {
    visibility: visible;
}

.glow-menu-vertical th.desc:after {
    content: "\2193";
    visibility: visible;
}

.glow-menu-vertical input, .glow-menu-vertical li, .glow-menu-vertical tr, .glow-menu-vertical th, .glow-menu-vertical td, .glow-menu-vertical span {
    min-height: 1.5em;
    padding-left: 1em;
    padding-right: 1.5em;
    text-align: left;
    cursor: default;
    user-select: none;
    position: relative;
}

.glow-menu-vertical li, .glow-menu-vertical tr, .glow-menu-vertical th, .glow-menu-vertical td, .glow-menu-vertical span {
    border-top: 1px solid var(--chrome-background);
    border-bottom: 1px solid var(--chrome-background);
}

.glow-menu-vertical .glow-menu-vertical li:nth-child(2), .glow-menu-vertical tr:nth-child(2), .glow-menu-vertical th:nth-child(2), .glow-menu-vertical td:nth-child(2), .glow-menu-vertical span:nth-child(2) {
    border-top: none;
}

.glow-menu-vertical .glow-menu-vertical li:last-child, .glow-menu-vertical tr:last-child, .glow-menu-vertical th:last-child, .glow-menu-vertical td:last-child, .glow-menu-vertical span:last-child {
    border-bottom: none;
}

.glow-menu-vertical input, .glow-menu-vertical li, .glow-menu-vertical tr, .glow-menu-vertical th, .glow-menu-vertical span {
    background-color: var(--chrome-background);
    color: var(--chrome-color);
}

.glow-menu-vertical input::placeholder {
    color: var(--chrome-color);
}

.glow-menu-vertical span {
    display: block;
}

.glow-menu-vertical div.no-match {
    padding-left: 1em;
    background-color: var(--chrome-background);
    color: var(--chrome-color);
}

.glow-menu-vertical li:hover, .glow-menu-vertical tr:hover, .glow-menu-vertical span:hover {
    background-color: var(--chrome-highlight-background);
    color: var(--chrome-highlight-color);
}

.glow-menu-vertical li[disabled="true"], .glow-menu-vertical tr[disabled="true"], .glow-menu-vertical span[disabled="true"] {
    background-color: var(--chrome-background);
    color: var(--chrome-disabled-color);
}

.glow-menu-vertical li[disabled="true"].label, .glow-menu-vertical tr[disabled="true"].label, .glow-menu-vertical span[disabled="true"].label {
    background-color: var(--chrome-background);
    color: var(--chrome-color);
}

.glow-menu-vertical li[disabled="true"]:hover, .glow-menu-vertical tr[disabled="true"]:hover, .glow-menu-vertical span[disabled="true"]:hover {
    background-color: var(--chrome-background);
    color: var(--chrome-disabled-color);
}

.glow-menu-vertical li[disabled="true"].label:hover, .glow-menu-vertical tr[disabled="true"].label:hover, .glow-menu-vertical span[disabled="true"].label:hover {
    background-color: var(--chrome-background);
    color: var(--chrome-color);
}

.glow-menu-vertical li.checked:before, .glow-menu-vertical tr.checked td:first-child:before, .glow-menu-vertical span.checked:before {
    content: '\2713';
    position: absolute;
    left: 3px;
}

.glow-menu-vertical input.mark:after, .glow-menu-vertical li.mark:after, .glow-menu-vertical tr.mark:after, .glow-menu-vertical span.mark:after {
    content: '\2022';
    position: absolute;
    right: 3px;
}

.glow-menu-vertical input.separator, .glow-menu-vertical li.separator, .glow-menu-vertical tr.separator, .glow-menu-vertical span.separator {
    border-top: 1px solid var(--border-color);
}

.glow-menu-members input.separator, .glow-menu-members li.separator, .glow-menu-members tr.separator, .glow-menu-members span.separator {
    border-top: 1px solid var(--border-color);
}

.glow-menu-vertical li.header, .glow-menu-vertical span.header {
    font-weight: bold;
    box-shadow: 0px -1px 0px 0px black;
    color: var(--chrome-color);
    background: linear-gradient(to right, var(--chrome-background), #5e6d9e);
}

.glow-menu-vertical li.header:hover, .glow-menu-vertical span.header:hover {
    color: var(--chrome-color);
}

.glow-menu-vertical li.label, .glow-menu-vertical tr.label, .glow-menu-vertical span.label {
    font-weight: bold;
    font-size: 0.75em;
    margin: 0px;
}

.glow-menu-vertical li.edit, .glow-menu-vertical tr.edit, .glow-menu-vertical span.edit, .glow-menu-vertical input.edit {
    margin: 6px;
    width: 96%;
}

.glow-menu-vertical li.has-menu:after, .glow-menu-vertical tr.has-menu td:first-child:after, .glow-menu-vertical span.has-menu:after {
    border-color: var(--border-color);
    border-style: solid;
    border-width: 2px 2px 0 0;
    content: '';
    height: 0.4em;
    right: 0.4em;
    position: absolute;
    vertical-align: top;
    width: 0.4em;
    top: 0.6em;
    transform: rotate(135deg);
}

.glow-menu-vertical li.selected, .glow-menu-vertical tr.selected td:first-child, .glow-menu-vertical span.selected {
    background-color: var(--chrome-highlight-background);
    color: var(--chrome-highlight-color);
}

.glow-window-footer {
    flex: none;
    height: 18px;
    display: none;
    color: black;
    line-height: 18px;
    position: relative;
    padding-top: 2px;
    padding-left: 10px;
    background: white;
    border-top: 1px solid #0f2777;
}

.glow-button-standard {
    background: var(--background);
    color: var(--color);
    border: 1px solid var(--border-color);
    border-radius: 4px;
    font-weight: normal;
    transition: all 0.2s ease-in-out;
    text-align: center;
    min-height: 17px;
    display: inline-block;
    padding: 3px;
    margin-left: 18px;
    margin-right: 18px;
    margin-top: 5px;
    margin-bottom: 5px;
    user-select: none;
    cursor: default;
}

.glow-button-standard:hover:active {
    color: var(--background);
    background: var(--color);
    box-shadow: 0px 0px 15px 3px var(--color);
}

.glow-checkbox-icon {
    display: flex;
    cursor: default;
    position: relative;
    width: 11px;
    height: 11px;
    top: 0;
    left: 0;
    background: #eee;
    border: 1px solid #ddd;
}

.widget-checkbox-original:checked+.glow-checkbox-icon:after {
    content: '';
    position: absolute;
    width: 6px;
    height: 3px;
    background: transparent;
    top: 2px;
    left: 1px;
    border: 3px solid #0f2777;
    border-top: none;
    border-right: none;
    transform: rotate(-45deg);
}

.glow-radio-icon {
    display: flex;
    cursor: default;
    position: relative;
    width: 10px;
    height: 10px;
    top: 0;
    left: 0;
    background: #eee;
    border: 2px solid #ddd;
    border-radius: 50%;
}

.widget-radio-original:checked+.glow-radio-icon {
    background: #0f2777;
    background-image: linear-gradient(#0f2555, #0f2999);
}

.glow-input-normal {
    margin-left: 18px;
    padding: 3px;
    margin-top: 5px;
    margin-bottom: 5px;
    border: 1px solid #0f2777;
    border-radius: 5px 5px 5px 5px;
    box-sizing: border-box;
    font-size: inherit;
}

.glow-input-normal:read-only {
    background-color: #0f2777;
    color: white;
}

.glow-list-border {
    border: 1px solid #0f2777;
    border-radius: 15px;
    overflow: hidden;
    background: white;
    display: flex;
}

.glow-list-dropdown-selection {
    text-align: left;
    border: 1px solid #0f2777;
    border-radius: 5px 5px 5px 5px;
    margin-right: -18px;
    margin-top: 5px;
    margin-bottom: 5px;
    position: relative;
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 3px;
    padding-bottom: 3px;
    flex: 1;
    height: 26px;
    width: 100%;
    user-select: none;
    cursor: default;
    overflow: hidden;
}

.glow-list-dropdown-selection:after:hover:active {
    box-shadow: 0px 0px 15px 3px #0f2777;
    border-radius: 15px;
}

.glow-list-dropdown-button {
    flex: none;
    width: 18px;
    height: 18px;
    background-color: white;
    margin-top: 5px;
    margin-bottom: 5px;
}

.glow-list-dropdown-button::after {
    border-color: #0f2777;
    border-style: solid;
    border-width: 0.10em 0.10em 0 0;
    content: '';
    display: inline-block;
    height: 0.40em;
    left: 0.25em;
    position: relative;
    vertical-align: top;
    width: 0.40em;
    top: 0.55em;
    transform: rotate(135deg);
}

.glow-list-dropdown-button-arrow {
    display: none;
}

.glow-list-dropdown-button-line {
    display: none;
}

.glow-list-popup-border {
    position: absolute;
    background: white;
    border: 1px solid #0f2777;
    z-index: 1000;
    margin-top: -6px;
    box-sizing: border-box;
    display: flex;
    border-radius: 5px 5px 5px 5px;
    overflow: hidden;
}

.glow-list-item {
    background-color: white;
    color: black;
    min-height: 18px;
    padding-left: 6px;
    padding-right: 6px;
    text-align: left;
    display: block;
    cursor: default;
    user-select: none;
}

.glow-list-item.selected {
    background-color: #0f2777;
    color: white;
}

.glow-list-item.separator {
    margin-top: 3px;
    border-top: 3px solid white;
    box-shadow: 0px -1px 0px 0px black;
}

.glow-tree-border {
    border: 1px solid #0f2777;
    border-radius: 15px;
    overflow: hidden;
    background: white;
    display: flex;
}

.glow-tree-dropdown-selection {
    text-align: left;
    border: 1px solid #0f2777;
    border-radius: 5px 5px 5px 5px;
    margin-top: 2px;
    margin-bottom: 2px;
    margin-right: -18px;
    position: relative;
    padding-left: 6px;
    padding-right: 6px;
    flex: 1;
    height: 19px;
    width: 100%;
    user-select: none;
    cursor: default;
    overflow: hidden;
}

.glow-tree-dropdown-selection:after:hover:active {
    box-shadow: 0px 0px 15px 3px #0f2777;
    border-radius: 15px;
}

.glow-tree-dropdown-button {
    flex: none;
    width: 18px;
    height: 18px;
    background-color: white;
}

.glow-tree-dropdown-button::after {
    border-color: #0f2777;
    border-style: solid;
    border-width: 0.10em 0.10em 0 0;
    content: '';
    display: inline-block;
    height: 0.20em;
    left: 0.35em;
    position: relative;
    vertical-align: top;
    width: 0.20em;
    top: 0.55em;
    transform: rotate(135deg);
}

.glow-tree-dropdown-button-arrow {
    display: none;
}

.glow-tree-dropdown-button-line {
    display: none;
}

.glow-tree-popup-border {
    position: absolute;
    background: white;
    border: 1px solid #0f2777;
    z-index: 1000;
    margin-top: -3px;
    box-sizing: border-box;
    display: flex;
    border-radius: 5px 5px 5px 5px;
    overflow: hidden;
}

.glow-tree-item {
    display: block;
}

.glow-tree-item-container {
    display: flex;
}

.glow-tree-item.separator {
    margin-top: 3px;
    border-top: 3px solid white;
    box-shadow: 0px -1px 0px 0px black;
}

.glow-tree-item-original {
    opacity: 0;
}

.glow-tree-item-label {
    background-color: white;
    color: black;
    min-height: 18px;
    padding-left: 3px;
    padding-right: 3px;
    text-align: left;
    display: block;
    cursor: default;
    user-select: none;
}

.glow-tree-item-label.selected {
    background-color: #000080;
    color: white;
}

.glow-tree-item-icon {
    display: none;
}

.glow-tree-item-icon::after {
    background: white;
    color: #0f2777;
    position: relative;
    width: 1em;
    height: 1em;
    content: '+';
    text-align: center;
    line-height: .9em;
}

.glow-tree-item-icon.parent {
    display: flex;
}

.glow-tree-item-original:checked+.glow-tree-item-icon:after {
    content: '–';
}

.glow-window-icon.widget-icon-icon {
    display: none;
}

.glow-window-icon.widget-icon-icon.minimize {
    display: block;
}

.glow-window-icon.widget-icon-list {
    display: flex;
    margin-left: 3px;
    margin-right: 3px;
    align-items: stretch;
    flex-wrap: nowrap;
    position: relative;
    min-width: 50px;
    box-shadow: 0px 0px 15px 3px #0f2777;
    background-color: transparent;
    color: white;
    border: 1px solid rgb(90, 58, 58);
    border-radius: 5px;
    align-items: center;
}

.glow-window-icon.widget-icon-list.minimize {
    box-shadow: none;
    background-color: transparent;
    color: white;
    border: 1px solid transparent;
}

.glow-window-icon.widget-icon-list.focus {
    box-shadow: 0px 0px 15px 3px #0f2777;
    background-color: #0f2777;
    color: white;
    border: 1px solid lightblue;
}

.glow-text-normal.night-mode {
    color: var(--color);
}

.label.night-mode {
    color: var(--chrome-color);
}

.input.night-mode {
    background-color: var(--chrome-background);
    color: var(--chrome-color);
}

.input.night-mode::placeholder {
    color: var(--chrome-disabled-color);
}

.select select.night-mode {
    background-color: var(--field-background);
    color: var(--field-color);
}

.modal-background.night-mode {
    background-color: rgb(10, 10, 10, 0.5);
}

.modal-card-head.night-mode {
    background-color: var(--chrome-background);
}

.modal-card-title.night-mode {
    color: var(--chrome-color);
}

.modal-card-body.night-mode {
    color: var(--color);
    background-color: var(--background);
}

.modal-card-foot.night-mode {
    background-color: var(--chrome-background);
}

.title.night-mode {
    color: var(--color);
}

.delete.night-mode {
    background-color: var(--background);
}

.table td.is-dark, .table th.is-dark {
    border-color: var(--border-color);
}

strong {
    color: var(--color);
}

.jsgrid-nodata-row>.jsgrid-cell {
    background: var(--background) !important;
    color: var(--color);
}

.field.has-addons .control:last-child .input {
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
}

.inherit-font {
    font-size: inherit !important;
}